﻿
@using System.Web.UI.WebControls
@using Oss.Hrms.Models
@using Oss.Hrms.Models.ViewModels
@using Oss.Hrms.Models.ViewModels.Attendance
@model Oss.Hrms.Models.ViewModels.Attendance.VMAttendanceProcessManually
@{
    ViewBag.Title = "Daily Attendance Process Manually";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
 @using (Html.BeginForm("AttendanceProcessManuallyByDate", "Attendance", FormMethod.Post, new { data_server = "true", id = "AttendanceProcessManuallyByDateFormId" }))
        {
    <div class="row ">

        <div class="box">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="box box-success box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="text-align:center">Daily Attendance Process Manually</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Shift Name</label>
                                            @Html.DropDownListFor(model => model.HRMS_Shift_TypeFk, ViewBag.HrmsShiftTypes as IEnumerable<SelectListItem>, "Select Shift", new { @required = "required", @class = "form-control myselect2 col-md-12", style = "width:100%" })

                                            @Html.ValidationMessageFor(model => model.HRMS_Shift_TypeFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Process Date</label>
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            <div class="input-group date">

                                                @Html.TextBoxFor(model => model.Date, new
                                                {
                                               @required = "required",
                                                @class = "form-control calendarControl",
                                                autocomplete = "off"
                                                })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-8">
                                        <button type="submit" id="btnAttendancePtocess" class="btn btn-primary" style="width:100%">Process Attendance</button>

                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>

        </div>
    </div>
        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {


        $('.calendarControl').datepicker({
            autoclose: true,
            format: "yyyy/m/d"
        });
    });
</script>
}





