﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.Attendance.VM_HRMS_Employee_Shift_Assign
@{
    ViewBag.Title = "EmployeeShiftAssign";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
@using (Html.BeginForm("EmployeeShiftAssign", "Attendance", FormMethod.Post, new { id = "employeeshiftassign", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmployeeIds)
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Shift Assign</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row mrg10T">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BU_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @*<div class="col-md-10">*@
                        @*@Html.TextBoxFor(model => model.BU_Id, new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.BU_Id, ViewBag.BusinessUnitList as IEnumerable<SelectListItem>,
                          "Select Business Unit", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Unit_ID" class="">Unit Name:</label>
                        <span><i class="ion-star font-red"></i></span>
                        <select id="ddlUnit_ID" name="Unit_ID" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Please Select Unit Name">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Dept_ID" class="">Department:</label>
                        <span><i class="ion-star font-red"></i></span>
                        <select id="ddlDept_ID" name="Dept_ID" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Please Select Department">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Section_ID" class="">Section:</label>
                        <span><i class="ion-star font-red"></i></span>
                        <select id="ddlSection_ID" name="Section_ID" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Please Select Section">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            @*<div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit_ID, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Unit_ID, new SelectList(string.Empty, "Value", "Text"), "Select Unit",
                            new { Id= "Unit_ID", @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Unit_ID, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            @*<div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dept_ID, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Dept_ID, new SelectList(string.Empty, "Value", "Text"), "Select Department",
                            new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            @*<div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Section_ID, new { @class = "control-label " })&nbsp;
                            <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.Section_ID, new SelectList(string.Empty, "Value", "Text"), "Select Section", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.Section_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
            <div class="row ">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShiftTypeId, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.ShiftTypeId, ViewBag.ShiftTypeList as IEnumerable<SelectListItem>,
                                          "Select Shift Name", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.ShiftTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date" @*data-datepicker-startdate="true"*@>
                            @Html.TextBoxFor(model => model.StartDate, new { Value = "", @class = "form-control calendarControl", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date" @*data-datepicker-startdate="true"*@>
                            @Html.TextBoxFor(model => model.EndDate, new { Value = "", @class = "form-control calendarControl", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mrg25T">
                        <input type="submit" value="Shift Assign" id="btnemployeeshiftassign" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="table-responsive overflow-auto">
                        <table id="tblEmployeeShiftAssign" class="table table-hover table-responsive table-bordered nowrap font-black ">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="select_all" value="1" id="chk-select-all">
                                    </th>
                                    <th>Card Title</th>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th style="display:none;">ID</th>
                                    @*<th>Base Shift</th>
                                        <th>Assign Shift</th>
                                        <th>Affect Date</th>
                                        <th>End Date</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {

            //$('[data-datepicker-startdate]').datetimepicker({
            //    //minDate: currentDate,
            //    format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //}).on('dp.change',
            //    function (ev) {
            //        // $('#date-daily').change();
            //        var date = ev.date._d;
            //        // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
            //        // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
            //        var stdate = moment(date).format('MM/DD/YYYY');
            //        //$("#hidStartdate").val(stdate);
            //        var elemId = $(this).attr('data-startdate-model');
            //        $("#" + elemId).val(stdate);
            //    });
            //$('#DOB').datepicker();


            //$('[data-datetimepicker-startdate]').datepicker({

            //});
            /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */
            $("#BU_Id").change(function() {

                $("#ddlUnit_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUnitList","Attendance")",
                    datatype: "Json",
                    data: { bUnitId: $("#BU_Id").val() },
                    success: function(data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Unit</option>";
                        $.each(data,
                            function(index, value) {
                                items += ('<option value="' + value.ID + '">' + value.UnitName + '</option>');
                            });
                        $("#ddlUnit_ID").html(items);
                    }
                });
            });


            /*
     *  This is used for cascding dropdown. Which will change upon Unit. If Unit is selected
             then the Department will appear according to selected Unit.
     */
            $('#ddlUnit_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                   // $('#hidSection').val(e.object.text);
                    getDepartmentlist(e.val, "ddlDept_ID");
                } else {
                    //
                }
            }).on("change", function (e) {

                if (e.val !== "0") {
                    //
                }
                });

            /*
             This is used for cascding dropdown. Which will change upon  Unit. If Unit is selected
             then the Department will appear according to selected Unit.
             */

            function getDepartmentlist(unitid, elemid) {
                if (unitid !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetDeptList", "Attendance")",
                        data: { unitId: unitid },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list; //.List
                            //console.log(newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Unit');
                }
            }


    /*
     *  This is used for cascding dropdown declartion.
     */

            $('#ddlDept_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                     //Below Method used to retrive Section List
                    getSectionlist(e.val, "ddlSection_ID");
                } else {
                    //
                }
            }).on("change", function (e) {

                if (e.val !== "0") {
                    //
                }
            });

             /*
     *  This is used for cascding dropdown. Which will change upon Department. If Department is selected
             then the Sections will appear according to selected Department.
     */

            function getSectionlist(deptid, elemid) {
                if (deptid !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetSectionList", "attendance")",
                        data: { deptId: deptid },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            //console.log(newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Department');
                }
            }

             /*
     *  This is used for cascding dropdown declartion.
     */

            $('#ddlSection_ID').select2().on("select2-selecting", function (e) {
                    if (e.val !== "") {
                       //tblEmployeeShiftAssign
                        getEmployeeListforShiftAssign(e.val, tblEmployeeShiftAssign);
                    } else {
                        //
                    }
                }).on("change", function (e) {

                    if (e.val !== "0") {
                        //
                    }
                });

                    /*
     *  This is used for cascding dropdown. Which will change upon Section. If Section is selected
             then the Employees will appear according to selected Section.
     */
    function getEmployeeListforShiftAssign(sectionId, tblemplist) {
        if (sectionId !== "") {
            $.ajax({
                url: "@Url.Action("GetEmployeeIDforEmployeeShiftAssign", "attendance")",
                data: { sectionid: sectionId},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var newOptions = data.list;
                    if (newOptions.length <= 0) {
                        tblemplist.clear().draw();
                    } else {
                        tblemplist.clear().draw();
                        for (var i = 0; i < newOptions.length; i++) {

                            var col1 = '<input type="checkbox" name="check" value="' + newOptions[i].ID + '">';
                            var col2 = newOptions[i].CardTitle;
                            var col3 = newOptions[i].EmployeeIdentity;
                            var col4 = newOptions[i].Name;
                            var col5 = newOptions[i].ID;
                            //var col5 = '<input type="Hidden" name="ID" value="' + newOptions[i].ID + '">';
                                //newOptions[i].ID;
                           // var col4 = newOptions[i].ID;
                                //var col5 = newOptions[i].AssignShift;
                                //var col6 = newOptions[i].AffectedDate1;
                                //var col7 = newOptions[i].EndDate1;
                            //, col4, col5, col6, col7
                            tblemplist.row.add([col1, col2, col3, col4, col5]).draw(false);
                            }
                        }
                    },
                error: function (xhr, status) {
                    alert(status);
                }
            });
            } else {
                alert('Select Section');
            }
            }


             /*
     *  This is used for Data Table declartion.
     */
            var tblEmployeeShiftAssign = $('#tblEmployeeShiftAssign').DataTable({
                "order": [],
                "language": {
                    searchPlaceholder: "Search in salary....."
                },
                "responsive": true//,
            });

                     /*
     *  This is used for Select all Employee or select Specific Employee as per selected  Employee.
     */
            $('#chk-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = tblEmployeeShiftAssign.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            $('#tblEmployeeShiftAssign tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
           // $('input[name="SelectedLocation"]:checked');
            $(document).off('click', '#btnemployeeshiftassign');
            $(document).on('click', '#btnemployeeshiftassign', function (e) {
                e.preventDefault();

                var datas;
                if ($('#chk-select-all').prop("checked") === true) {

                    datas = tblEmployeeShiftAssign.rows().data();
                } else {
                    datas = tblEmployeeShiftAssign.rows('.selected').data();
                }
                var ids = "";
                //piconstarr = alldatas;
                for (var i = 0; i < datas.length; i++) {
                    ids += datas[i][4] + ",";
                }
                $("#EmployeeIds").val(ids);
                //$("#hidEmployeeIds").val(ids);
                console.log('ids', ids);
                $("#employeeshiftassign").submit();
            });

        });
    </script>
}


