﻿@model Oss.Hrms.Models.ViewModels.Attendance.VM_HRMS_Daily_Instant_Attendance

@{
    ViewBag.Title = "EmployeeAttendanceProcess";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Attendance Process </h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("EmployeeAttendanceProcess", "Attendance", FormMethod.Post, new { data_server = "true", id = "employeeattendanceprocess" }))
            {
                <div class="row ">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShiftTypeId, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.ShiftTypeId, ViewBag.ShiftTypeList as IEnumerable<SelectListItem>,
                                                       "Select Shift Name", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.ShiftTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                                @Html.TextBoxFor(model => model.Date, new { Value = "", @class = "form-control calendarControl",
                               autocomplete = "off"
                           })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Late, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.TextBoxFor(model => model.Late, new { Value = "", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Late, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mrg25T">
                            <input type="submit" value="Process Attendance" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {

            $('[data-datetimepicker-startdate]').datepicker({
                //format: 'YYYY-MM-DD'
            });
            //Date picker
            //$('#DOB').datepicker();
            //$('[data-datetimepicker-startdate]').datetimepicker({
            //    //minDate: currentDate,
            //   // format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //});
        })
    </script>
}      