﻿@using System.Web.UI.WebControls
@using Oss.Hrms.Models
@using Oss.Hrms.Models.ViewModels
@using Oss.Hrms.Models.ViewModels.Attendance
@model Oss.Hrms.Models.ViewModels.Attendance.VM_HRMS_Daily_Instant_Attendance
@{
    ViewBag.Title = "ViewEmployeeAttendance";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Attendance Information </h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("ViewEmployeeAttendance", "Attendance", FormMethod.Post, new { data_server = "true", id = "viewemployeeattendance" }))
            {
                <div class="row ">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShiftTypeId, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.ShiftTypeId, ViewBag.ShiftTypeList as IEnumerable<SelectListItem>,
                                                       "Select Shift Name", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.ShiftTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.Date, new { @*Value = DateTime.Now.ToShortDateString(),*@ @class = "form-control calendarControl",
                               autocomplete = "off"
                           })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.toDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.toDate, new { @class = "form-control calendarControl",
                               autocomplete = "off"@*, Value = DateTime.Now.ToShortDateString()*@ })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.toDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mrg25T">
                            <input type="submit" value="View Attendance " id="btnviewshift" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="viewform">
            <div class="col-md-12 mrg10T">
                @{
                    int Sl = 0;
                }
                @{
                    List<VM_HRMS_Daily_Instant_Attendance> listfbinfo = ViewBag.AttendanceList as List<VM_HRMS_Daily_Instant_Attendance>;
                    if (listfbinfo != null && listfbinfo.Any())
                    {
                <div class="box">
                    <div class="box-body table-responsive">
                        <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                            <thead>
                            <tr>
                                <th>
                                    SL
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShiftName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InTime)
                                </th>
                                @*<th>
                            @Html.DisplayNameFor(model => model.OutTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Overtime)
                        </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.AttendanceStatus)
                                </th>
                                @*<th>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </th>
                        <th>
                            Action
                        </th>*@
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>SL</th>
                                <th>Card Title</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Shift</th>
                                <th>Date</th>
                                <th>In</th>
                                <th>Status</th>
                                @*<th>Out</th>
                        <th>Total</th>
                        <th>OT</th>

                        <th>Remarks</th>
                        <th>Action</th>*@
                            </tr>
                            </tfoot>
                            <tbody>
                            @foreach (var item in listfbinfo)
                            {

                                <tr>
                                    <td><b>@(++Sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CardTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShiftName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @if (item.InTime1.ToString() != "12:00 AM")
                                        {
                                            @Html.DisplayFor(modelItem => item.InTime1)
                                        }
                                    </td>


                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.AttendanceStatus)*@
                                        @if (item.AttendanceStatus == 1)
                                        {
                                            <span class="label label-success">OK</span>
                                        }
                                        else if (item.AttendanceStatus == 2)
                                        {
                                            <span class="label label-info">Late</span>
                                        }
                                        else if (item.AttendanceStatus == 3)
                                        {
                                            <span class="label label-warning">Absent</span>
                                        }
                                        else if (item.InTime1.ToString() == "00:00:00" && item.OutTime1.ToString() == "00:00:00" && item.AttendanceStatus == 1)
                                        {
                                            <span class="label label-warning">Absent</span>
                                        }
                                        else if (item.AttendanceStatus == 4)
                                        {
                                            <span class="label label-info">Leave</span>
                                        }
                                        else if (item.AttendanceStatus == 5)
                                        {
                                            <span class="label label-info">Off Day</span>
                                        }
                                        else if (item.AttendanceStatus == 6)
                                        {
                                            <span class="label label-info">Holiday Day</span>
                                        }
                                    </td>


                                </tr>


                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                    }
                    }
                </div>
        </div>



    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@
    <script>
        $(document).ready(function() {

            
            //$('[data-datetimepicker-startdate]').datepicker({
            //    //format: 'YYYY-MM-DD'
            //});
            //Date picker
            //$('#DOB').datepicker();

            //$('[data-datetimepicker-startdate]').datepicker({
            //    autoclose: true,
            //    format: "yyyy/m/d"
            //    //format: 'YYYY-MM-DD'
            //});
           
            $('.calendarControl').datepicker({
                autoclose: true,
                format: "yyyy/m/d"
            });

            /*
*  This is used for Data Table declartion.
*/
            $('#tableAttendance tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:100px" />');
            });



            var emptable =  $('#tableAttendance').DataTable({
                "order": [],
                "language": {
                    searchPlaceholder: "Search in salary....."
                },
                "responsive": true //,
            });

            // Apply the search
            emptable.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });




            //*
            // * Below Action Used to Modify Attendnace Edit.
            // *
            // *
            var url = "";


            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function(event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function(event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK": function() {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });


            //$("#lnkCreate").click(function (e) {
            //    $(".ui-dialog-titlebar")
            //        .html(
            //        "Shift Type: Add New Shift Type  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            //    url = $(this).attr('href');
            //    $("#dialog-edit").dialog('open');
            //    $("#LoadingBar").show();

            //    return false;
            //});

            $(".lnkEdit").click(function(e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Attendance: Udpate Attendance.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".lnkDelete").click(function(e) {
                $(".ui-dialog-titlebar").html("Shift Type: Delete This Shift Type.");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            });

            $(".btncancel").click(function(e) {
                $("#dialog-edit").dialog("close");
                return false;
            });

        });



    </script>
}

