﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Facility

@{
    ViewBag.Title = "EditFacility";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

@using (Html.BeginForm("EditFacility","EmployeeRecord",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Employee_Id)

    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Update Employee Facility Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item_Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Item_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cost_Per_Month, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Cost_Per_Month, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                        @Html.ValidationMessageFor(model => model.Cost_Per_Month, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
