﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Child

@{
    ViewBag.Title = "EditChildren";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

@using (Html.BeginForm("EditChildren","EmployeeRecord",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Employee_Id)


    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Basic Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">

            <div class="row mrg10T">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Child_Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Child_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Child_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Child_Blood_Group, htmlAttributes: new { @class = "control-label" })
                        @{ var listItemBloodGroup = new List<ListItem>
                           {
                               new ListItem {Text = "A+(ve)", Value = "A+(ve)"},
                               new ListItem {Text = "A-(ve)", Value = "A-(ve)"},
                               new ListItem {Text = "B+(ve)", Value = "B+(ve)"},
                               new ListItem {Text = "B-(ve)", Value = "B-(ve)"},
                               new ListItem {Text = "AB+(ve)", Value = "AB+(ve)"},
                               new ListItem {Text = "AB-(ve)", Value = "AB-(ve)"},
                               new ListItem {Text = "O+(ve)", Value = "O+(ve)"},
                               new ListItem {Text = "O-(ve)", Value = "O-(ve)"}
                           }; }
                        @Html.DropDownListFor(model => model.Child_Blood_Group, new SelectList(listItemBloodGroup, "Value", "Text"), "Select Blood Group",
                            new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Child_Blood_Group, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Child_DOB, new { @class = "control-label" })&nbsp;
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.Child_DOB, "{0:MM/dd/yyyy}",  new { @class = "form-control calendarControl" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Child_DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {

        
            //$('[data-datetimepicker-startdate]').datepicker({

            //});

            //$('[data-datetimepicker-startdate]').datetimepicker({
            //    //minDate: currentDate,
            //    format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //}).on('dp.change', function (ev) {
            //    // $('#date-daily').change();
            //    var date = ev.date._d;
            //    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
            //    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
            //    var stdate = moment(date).format('MM/DD/YYYY');
            //    //$("#hidStartdate").val(stdate);
            //    var elemId = $(this).attr('data-startdate-model');
            //    $("#" + elemId).val(stdate);
            //});

        });
    </script>
}

