﻿@model Oss.Hrms.Models.ViewModels.Promotion.VMPromotions
@{
    ViewBag.Title = "Employee Confirmation List";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<section class="content">
    <div class="row">
       
       
        <div id="divPanelbody" class="panel-body">
            <div class="panel panel-default border-top border-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Employee Confirmation</h3>
                </div>

                @if (Model.DataList != null)
                {
                    using (Html.BeginForm("EmployeeConfirmationList", "EmployeeRecord", FormMethod.Post, new { id = "employeeconfirmationlistform", data_server = "true", enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" id="hidEmployeeIds" name="EmployeeIds" />
                        <div id="viewform">
                            <div class="col-md-12 mrg10T">
                                @if (Model.DataList != null && Model.DataList.Any())
                                {
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <table id="tblEmployeeConfirmation" class="table table-hover table-responsive table-bordered nowrap font-black">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input type="checkbox" name="select_all" value="1" id="chk-select-all">
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.EmployeeID)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CardTitle)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CardNo)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.EmployeeName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.DesignationName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.DeptName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.SectionName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.JoiningDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.JobPermanent_Date)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Employement_Type)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.DataList)
                                                    {
                                                        <tr>
                                                            <th>
                                                                <input type="checkbox" name="select_all" value="@item.ID)" id="chk-select-all">
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayFor(modelItem => item.EmployeeID)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.CardTitle)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.CardNo)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.DesignationName)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.DeptName)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.SectionName)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.JoiningDate)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.JobPermanent_Date)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Employement_Type)
                                                            </th>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                @*}*@
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-7 pull-right">
                                <div class="form-group" style="padding-top: 25px;">
                                    <input id="btnave" type="submit" value="Save Employee Confirmation" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            /*
*  This is used for Data Table declartion.
*/
            var tblEmployeeConfirmation = $('#tblEmployeeConfirmation').DataTable({
                "order": [],
                "language": {
                    searchPlaceholder: "Search in Employee....."
                },
                "responsive": true//,
            });

            //$("#check").find("input[type='checkbox']:checked").length;
            //$("#check").find("input[type='checkbox']:checked").each(function(){
            // alert($(this).closest('span').attr("title"));
            //});
            //
            /*
*  This is used for Select all Employee or select Specific Employee as per selected  Employee.
*/
            $('#chk-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = tblEmployeeConfirmation.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            $('#tblEmployeeConfirmation tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            // $('input[name="SelectedLocation"]:checked');
            $(document).off('click', '#btnave');
            $(document).on('click', '#btnave', function (e) {
                e.preventDefault();

                var datas;
                if ($('#chk-select-all').prop("checked") === true) {

                    datas = tblEmployeeConfirmation.rows().data();
                } else {
                    datas = tblEmployeeConfirmation.rows('.selected').data();
                }
                var ids = "";
                //piconstarr = alldatas;
                for (var i = 0; i < datas.length; i++) {
                    ids += datas[i][1] + ",";
                }
                //$("#EmployeeIds").val(ids);
                $("#hidEmployeeIds").val(ids);
                console.log('ids', ids);
                $("#employeeconfirmationlistform").submit();
            });

        });
    </script>
}


