﻿@{
    ViewBag.Title = "Index";

}
<section class="content-header">
    <h1>
        Dashboard
       
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">HRMS</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
