﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_EducationInfo

@{
    ViewBag.Title = "EducationIndex";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "IndexEmployees", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "IndexSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "IndexChild", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Education", "IndexEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "IndexTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "IndexExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "IndexSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "IndexReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "IndexHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "IndexSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "IndexFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Link To Employee", "IndexLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Education Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        <div class="row">
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                    <tr>
                        <th>SL#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee_Identity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Degree)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Institute)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupOrSubject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Passing_Year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Result)
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    @{
                        var i = 0;
                        <tbody>
                        @foreach (var item in Model.EducationInfos)
                        {
                            i = i + 1;
                            <tr>
                                <td>@i</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Employee_Identity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Degree)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Institute)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GroupOrSubject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Passing_Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Result)
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "EditEduction", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                    @Html.ActionLink(" ", "DeleteChildren", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }

                        </tbody>
                    }

                    
                </table>
            </div>
        </div>
    </div>
</div>



