﻿@using System.Web.UI.WebControls
@using Oss.Hrms.Models.ViewModels.HRMS
@model Oss.Hrms.Models.ViewModels.HRMS.VMEmployee

@{
    ViewBag.Title = "ViewEmployees";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Employee", "IndexEmployees", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "IndexSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "IndexChild", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "IndexEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "IndexTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "IndexExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "IndexSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "IndexReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "IndexHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "IndexSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "IndexFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Employee Setting", "IndexLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />
@using (Html.BeginForm("IndexEmployees", "EmployeeRecord", FormMethod.Post, new { id = "IndexEmployees", data_server = "true", enctype = "multipart/form-data" }))
{
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body">
            <div class="row  mrg10T">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Department_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @*<div class="col-md-10">*@
                        @*@Html.TextBoxFor(model => model.BU_Id, new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.Department_Id, ViewBag.Departments as IEnumerable<SelectListItem>,
             "Select Department", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Present_Status, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @{
                            var listPresent_Status = new List<ListItem>
                                            {
                                                new ListItem() {Text = "Active", Value ="1"},
                                                new ListItem() {Text = "Resign", Value ="2"},
                                                new ListItem() {Text = "Lefty", Value = "3"},
                                                new ListItem() {Text = "Terminate", Value = "4"}
                                            };
                        }
                        @Html.DropDownListFor(model => model.Present_Status, new SelectList(listPresent_Status, "Value", "Text"),
                          new { id = "ddlPresentStatus", @class = "form-control  myselect2" })
                        @Html.ValidationMessageFor(model => model.Present_Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mrg25T">
                        <input type="submit" value="Search Employeee" id="btnemployeeshiftassign" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-3">
                    @*<div class="form-group">
                            <label for="Section_ID" class="">Section:</label>
                            <span><i class="ion-star font-red"></i></span>
                            <select id="ddlSection_ID" name="Section_ID" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Please Select Section">
                                <option value=""></option>
                            </select>
                        </div>*@
                </div>
            </div>
            <div class="row">
                @{
                    var listfbinfo = Model.VmEmployees as List<VMEmployee>;
                    if (listfbinfo != null && listfbinfo.Any())
                    {
                        <div class="box-body table-responsive">
                            <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>SL#</th>
                                        <th>
                                            Basic Info
                                        </th>
                                        <th> Image</th>
                                        <th>
                                            Contact Info
                                        </th>
                                        <th>
                                            Work Station
                                        </th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                @{
                                    int i = 0;
                                }
                                <tbody>
                                    @foreach (var item in listfbinfo)
                                    {
                                        i = i + 1;
                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                <label>Card Title: &nbsp;</label>@Html.DisplayFor(modelItem => item.CardTitle) <br />
                                                <label>Card No: &nbsp;</label>@Html.DisplayFor(modelItem => item.EmployeeIdentity) <br />
                                                <label>Name: &nbsp;</label>@Html.DisplayFor(modelItem => item.Name)<br />
                                                <label>Name_BN: &nbsp;</label>@Html.DisplayFor(modelItem => item.Name_BN) <br />
                                                <label>Designation: &nbsp;</label>@Html.DisplayFor(modelItem => item.Designation_Name)
                                            </td>
                                            @{
                                                var str = "";
                                                str = "nopicture.png";
                                                if (!string.IsNullOrEmpty(item.Photo))
                                                {
                                                    str = item.Photo;
                                                }
                                                <td><img class="img-thumbnail img-responsive" alt="str" height="80" width="80" src="@Url.Content("~/Assets/Images/EmpImages/" + str)"></td>
                                            }

                                            <td>
                                                <label>Mobile: &nbsp;</label>@Html.DisplayFor(modelItem => item.Mobile_No) <br />
                                                <label>Alt Mobile: &nbsp;</label>@Html.DisplayFor(modelItem => item.Alt_Mobile_No) <br />
                                                <label>Email: &nbsp;</label>@Html.DisplayFor(modelItem => item.Email_Id)<br />
                                                <label>Joining Date: &nbsp;</label>@Html.DisplayFor(modelItem => item.Joining_Date)<br />
                                                <label>Permanent Date: &nbsp;</label>@Html.DisplayFor(modelItem => item.JobPermanent_Date)
                                            </td>
                                            <td>
                                                <label>BU Name: &nbsp;</label>@Html.DisplayFor(modelItem => item.BU_Name) <br />
                                                <label>Unit: &nbsp;</label>@Html.DisplayFor(modelItem => item.Unit_Name) <br />
                                                <label>Dept.: &nbsp;</label>@Html.DisplayFor(modelItem => item.Department_Name) <br />
                                                <label>Section: &nbsp;</label>@Html.DisplayFor(modelItem => item.Section_Name)<br />
                                                <label>Line: &nbsp;</label>@Html.DisplayFor(modelItem => item.Line)
                                            </td>

                                            <td>

                                                @Html.ActionLink(" Update", "EditEmployee", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @target = "_blank" })<br />
                                                @Html.ActionLink(" Update Photo ", "UpdateEmployeeImage", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @target = "_blank" }) <br />
                                                @*@Html.ActionLink(" ", "DeleteEmployee", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" }) &nbsp;*@
                                                @Html.ActionLink(" Details", "DetailEmployeeIdWise", new { id = item.ID }, new { @class = "glyphicon glyphicon-list", @target = "_blank" }) &nbsp;
                                                @* @Html.ActionLink(" ", "PrintDetailEmployeeIdWise", new { id = item.ID }, new { @class = "glyphicon glyphicon-print" })*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }


            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {




        });
    </script>
}


