﻿@model Oss.Hrms.Models.ViewModels.Reports.VM_Report
@{
    ViewBag.Title = "AttendanceReport";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        @using (Html.BeginForm("AttendanceReport", "Report", FormMethod.Post, new { @target = "_blank" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SectionName, new { id="txtSectionName" })

            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading pad5A">
                    <h3 class="panel-title">Attendance Report Form</h3>
                </div>
                <div id="divPanelbody" class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReportId, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <br />
                                @Html.DropDownListFor(model => model.ReportId, ViewBag.ReportList as IEnumerable<SelectListItem>, "Select a Report", new { id = "ddlleaveReport", @class = "form-control col-md-12" })
                                @Html.ValidationMessageFor(model => model.ReportId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divfromdate" class="col-md-3  hide">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fromdate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control calendarControl ", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divtodate" class="col-md-3  hide">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Todate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.Todate, new { @class = "form-control calendarControl ", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Todate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divEmployeelist" class="col-md-3 hide">
                            <div class="form-group">
                                <label>Employee Name</label>
                                @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>, "Select Employee", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divSectionList" class="col-md-3 hide">
                            <div class="form-group">
                                <label>Section Name</label>
                                @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionList as IEnumerable<SelectListItem>, "Select Section", new { @class = "form-control", id= "ddlSectionlist" })
                                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" style="padding-top:25px;">
                                <div class="col-md-offset-3">
                                    <input type="submit" value="View Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@
    <script>
        $(document).ready(function() {

                $('.calendarControl').datepicker({
                    autoclose: true,
                    format: "yyyy/m/d"
            });
            //
            $('#ddlSectionlist').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    
                }
            }).on("change", function (e) {
                if (e.val !== "0") {
                    
                    var val = $("#ddlSectionlist option:selected").text();
                  console.log('val', val);
                    $('#txtSectionName').val(val);
                }
            });



                $('#ddlleaveReport').select2().on("select2-selecting", function (e) {
                    //TODO: step2 loading mathod
                    //alert('ok go');
                    if (e.val === "7") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                   else if (e.val === "28") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                    else if (e.val === "8") {
                        $('#divEmployeelist').removeClass("hide");
                        $('#divSectionList').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').removeClass("hide");
                    }
                    else if (e.val === "26") {
                        $('#divEmployeelist').removeClass("hide");
                        $('#divSectionList').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').removeClass("hide");
                    }
                    else if (e.val === "9") {
                        $('#divEmployeelist').removeClass("hide");
                        $('#divSectionList').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').removeClass("hide");
                    }
                    else if (e.val === "10") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                    else if (e.val === "11") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                    else if (e.val === "12") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                    else if (e.val === "13") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                    else if (e.val === "14") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                    else if (e.val === "18") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                    else if (e.val === "15") {
                        $('#divEmployeelist').removeClass("hide");
                        $('#divSectionList').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').removeClass("hide");
                    }
                    else if (e.val === "16") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }
                    else if (e.val === "17") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divSectionList').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').removeClass("hide");
                    }
                    else if (e.val === "27") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divSectionList').removeClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').removeClass("hide");
                    }
                    else if (e.val === "29") {
                        $('#divEmployeelist').removeClass("hide");
                        $('#divSectionList').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').removeClass("hide");
                    }
                    else if (e.val === "30") {
                        $('#divEmployeelist').addClass("hide");
                        $('#divfromdate').removeClass("hide");
                        $('#divtodate').addClass("hide");
                        $('#divSectionList').addClass("hide");
                    }

                }).on("change", function (e) {


                    if (e.val !== "0") {
                        //
                    }
                });

                //$('#divEmployeelist').addClass("hide");
                //$('#divSectionList').removeClass("hide");


            }
        )
    </script>
}
