﻿@model Oss.Hrms.Models.ViewModels.Reports.VM_Report

@{
    ViewBag.Title = "Detail JobCard";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<style>
    h4 {
        border-bottom: 2px solid black;
        display: inline;
    }

    .trclass {
        border: 1px solid #000;
        font-size: 13px;
        font-weight: 800;
    }

    .container {
        height: 50px;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

    #page {
        width: 900px;
        margin: 0 auto;
        font-size: 12px;
    }

    @@media print {
        #print, #print * {
            display: none !important;
        }
    }
</style>

<script>
    function printDiv() {
        window.print();
    }
</script>
<link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12 col-md-12">


        @using (Html.BeginForm("AuditJobCard", "Report", FormMethod.Post, new { @target = "_blank" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div id="print" class="panel panel-default border-top border-blue">
                <div class="panel-heading pad5A">
                    <h3 class="panel-title">Detail JobCard </h3>
                </div>
                <div id="divPanelbody" class="panel-body">
                    <div class="row">

                        <div id="divfromdate" class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fromdate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control calendarControl ", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divtodate" class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Todate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.Todate, new { @class = "form-control calendarControl ", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Todate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divEmployeelist" class="col-md-3">
                            <div class="form-group">
                                <label>Employee Name</label>
                                @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>, "Select Employee", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group" style="padding-top:25px;">
                                <div class="col-md-offset-3">
                                    <input type="submit" value="View Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>            
                <div id="page">
                    <div>
                        <div style="width: 100%;">
                            <table style="width: 100%;" cellspacing="0">
                                <tr>
                                    <td colspan="2" style="width: 66%; text-align: left"><label>Romo Fashion Today Limited</label><br />Mouchak, Kaliakoir,Gazipur <br />Phone: +88027914984 <br />Email:info@romofashion.com</td>
                                    <td rowspan="7" style="width: 33%">
                                        <table style="width: 100%;" cellpadding="10" border="1">
                                            <tr>
                                                <td colspan="2">
                                                    <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                                                        Print
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td style="width: 33%"><label>&nbsp;&nbsp;Working Days</label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.GrandTotal</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 66%"><label>&nbsp;&nbsp;Present </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.Present</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 66%"><label>&nbsp;&nbsp;Late </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.Late</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 66%"><label>&nbsp;&nbsp;Leave  </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.Leave</td>
                                            </tr>
                                            <tr>
                                                <td><label>&nbsp;&nbsp;Festival Leave </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.Holiday</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 66%"><label>&nbsp;&nbsp;Special Leave </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;0</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 66%"><label>&nbsp;&nbsp;Holiday </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.Offday</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 66%"><label>&nbsp;&nbsp;Absent </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.Absent</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 66%"><label>&nbsp;&nbsp;Total Present </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.TotalPresent</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 66%"><label>&nbsp;&nbsp;Grand Total </label></td>
                                                <td style="width: 33%">&nbsp;&nbsp;@Model.GrandTotal</td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Card No : </label>@Model.CardNo</td>
                                    <td><label>Name : </label>@Model.Name</td>

                                </tr>
                                <tr>
                                    <td><label>Education : </label>@Model.Degree</td>
                                    <td><label>Length of Service: </label> @Model.Year Year @Model.Month Month</td>
                                </tr>
                                <tr>
                                    <td><label>Unit : </label>@Model.UnitName</td>
                                    <td><label>Line : </label>@Model.Line</td>

                                </tr>
                                <tr>
                                    <td><label>Section Head : </label> @Model.Staff_Type</td>
                                    <td><label>Section : </label> @Model.SectionName</td>

                                </tr>
                                <tr>
                                    <td><label>Designation : </label>@Model.Designation</td>
                                    <td><label>Join Date : </label>@Model.JoinDate</td>

                                </tr>
                                <tr>
                                    <td style="text-align: center" colspan="2"><label> Personal Attendance Summery </label></td>

                                </tr>
                                <tr>
                                    <td style="text-align: center" colspan="2"><label>  <strong>From @Model.Fromdate.ToString("dd-MMM-yyyy") to @Model.Todate.ToString("dd-MMM-yyyy")</strong> </label></td>
                                    @*<td style="text-align: center"></td>*@
                                </tr>
                            </table>
                        </div>
                        <div class="text-center">
                            <hr style="width: 100%; color: black; height: 1px; background-color: black;">
                        </div>
                        @*------------------------Load Table-------------------------*@

                        <div style="width: 100%; border: 1px solid #000">
                            <div id="viewparty">
                                @{
                                    int totalot = 0;

                                    <div>
                                        <table style="width: 100%;" cellspacing="0" rules="all" border="1">
                                            <tr>
                                                <td style="width: 15%; text-align: center">Date</td>
                                                <td style="width: 15%; text-align: center">In Time</td>
                                                <td style="width: 15%; text-align: center">OutTime</td>
                                                <td style="width: 15%; text-align: center">Status</td>
                                                <td style="width: 15%; text-align: center">OT</td>
                                                <td style="width: 15%; text-align: center">BOT</td>
                                                <td style="width: 15%; text-align: center">EOT</td>
                                            </tr>

                                            @*----------------------Load Items for each transaction (2D array)-----------------------*@
                                            @{
                                                foreach (var sublist in Model.ReportList)
                                                {
                                                    totalot += sublist.LegalOTHour;
                                                    <tr>
                                                        <td style="text-align: center">@sublist.PresentDate.ToShortDateString()</td>
                                                        <td style="text-align: center">@sublist.InTime</td>
                                                        <td style="text-align: center">@sublist.OutTime</td>
                                                        <td style="text-align: center">@sublist.Status</td>
                                                        <td style="text-align: center">@sublist.LegalOTHour</td>
                                                        <td style="text-align: center">@sublist.BuyerOT</td>
                                                        <td style="text-align: center">@sublist.ExtraOTHour</td>
                                                    </tr>
                                                }

                                            }
                                            <tr>
                                                <td style="text-align: left; font-weight: 800">Total: @Model.GrandTotal </td>
                                                <td style="text-align: center; font-weight: 800"></td>
                                                <td style="text-align: center; font-weight: 800"></td>
                                                <td></td>
                                                <td style="text-align: center; font-weight: 800">@Model.OT</td>
                                                <td style="text-align: center; font-weight: 800">@Model.BOT</td>
                                                <td style="text-align: center; font-weight: 800">@Model.EOT</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <br />

                                }
                            </div>
                        </div>

                    </div>
                    <div>
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Prepared By</span></td>
                                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">H.R</span></td>
                                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Accountant</span></td>
                                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">H.R Department</span></td>
                                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Director</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

        }
    </div>
</div>