﻿
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading pad5A">
                <h3 class="panel-title">Report Form</h3>
            </div>
            <div id="divPanelbody" class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row" style="padding-bottom:10px;">
                            @Html.ActionLink("Salary Migration", "SalaryMigration", null, new { @class = "btn btn-default btn-block" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row" style="padding-bottom:10px;">
                            @Html.ActionLink("Salary OT Migration", "OTMigration", null, new { @class = "btn btn-default btn-block" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row" style="padding-bottom:10px;">
                            @Html.ActionLink("EODRecord Migration", "EODRecordMigration", null, new { @class = "btn btn-default btn-block" })
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="row" style="padding-bottom:10px;">
                            @Html.ActionLink("Employee Migration", "EmployeeMigration", null, new { @class = "btn btn-default btn-block" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




