﻿@model Oss.Hrms.Models.ViewModels.Reports.VM_Report
@using Oss.Hrms.Models;
@{
                /**/


                ViewBag.Title = "Employee Job Card";
                Layout = null;
}
<style>
    h4 {
        border-bottom: 2px solid black;
        display: inline;
    }

    .trclass {
        border: 1px solid #000;
        font-size: 13px;
        font-weight: 800;
    }

    .container {
        height: 50px;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

    #page {
        width: 900px;
        margin: 0 auto;
        font-size: 12px;
    }

    @@media print {
        #print, #print * {
            display: none !important;
        }
    }
</style>


<script>
    function printDiv() {
        window.print();
    }
</script>
<link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div id="page">
    <div>
        @{
            var user = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];

            var empinfo = Model.DataListReports.FirstOrDefault();
            var workingdays = Model.DataListReports.Count();
            int present = Model.DataListReports.Count(x => x.Status.Equals("Present"));
            int late = Model.DataListReports.Count(x => x.Status.Equals("Late"));
            int leave = Model.DataListReports.Count(x => x.Status.Equals("Leave"));
            int absent = Model.DataListReports.Count(x => x.Status.Equals("Absent"));
            int offday = Model.DataListReports.Count(x => x.Status.Equals("Offday"));
            int holiday = Model.DataListReports.Count(x => x.Status.Equals("Holiday"));
            int grandtotal = present + late + leave + offday + holiday + absent;
            int totalPresent = present + late;
            string name = "";
            name = empinfo.Name;
            string cardTitle = empinfo.CardTitle;
            string empid = empinfo.Employee_ID;

            string unit = empinfo.UnitName;
            string line = empinfo.Line;
            string sectionhead = empinfo.Staff_Type;
            string sectionname = empinfo.SectionName;
            string designation = empinfo.Designation_Name;
            string joindate = empinfo.Joining_Date;
            string datefromto = "";
            decimal gpaidamount = 0;
            decimal gdueamount = 0;
        }


        @*-----------------Report Header-----------------*@
        <div style="width: 100%;">
            <table style="width: 100%;" cellspacing="0">
                <tr>
                    <td colspan="2" style="width: 66%; text-align: left"><label>Romo Fashion Today Limited</label><br />Mouchak, Kaliakoir,Gazipur <br />Phone: +88027914984 <br />Email:info@romofashion.com</td>
                    <td rowspan="7" style="width: 33%">
                        <table style="width: 100%;" cellpadding="10" border="1">
                            <tr>
                                <td colspan="2">
                                    <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                                        Print
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Working Day</label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@workingdays</td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Present </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@present</td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Late </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@late</td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Leave  </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@leave</td>
                            </tr>
                            <tr>
                                <td><label>&nbsp;&nbsp;Festival Leave </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@holiday</td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Special Leave </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;0</td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Holiday </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@offday</td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Absent </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@absent</td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Total Present </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@totalPresent</td>
                            </tr>
                            <tr>
                                <td style="width: 66%"><label>&nbsp;&nbsp;Grand Total </label></td>
                                <td style="width: 33%">&nbsp;&nbsp;@grandtotal</td>
                            </tr>
                        </table>


                    </td>
                </tr>
                <tr>
                    <td><label>Card No : </label>@cardTitle  @empid</td>
                    <td><label>Name : </label>@name</td>                   
                </tr>
                <tr>
                    <td><label>Education : </label>@empinfo.Degree</td>
                    <td><label>Length of service: </label>@empinfo.DateDiff Month</td>
                </tr>
                <tr>
                    <td><label>Unit : </label>@unit</td>
                    <td><label>Line : </label>@line</td>
                </tr>
                <tr>
                    <td><label>Section Head : </label> @sectionhead</td>
                    <td><label>Section : </label> @sectionname</td>
                </tr>
                <tr>
                    <td><label>Designation : </label>@designation</td>
                    <td><label>Join Date : </label>@joindate</td>
                </tr>
                <tr>
                    <td style="text-align: center" colspan="2"><label> Personal Attendance Summery </label></td>
                </tr>
                <tr>
                    <td style="text-align: center" colspan="2"><label>  <strong>From @ViewBag.StartDate.ToString("dd-MMM-yyyy") to @ViewBag.EndDate.ToString("dd-MMM-yyyy")</strong> </label></td>

                    @*<td style="text-align: center"></td>*@
                </tr>
            </table>
        </div>
        <div class="text-center">
            <hr style="width: 100%; color: black; height: 1px; background-color: black;">

        </div>

        @*------------------------Load Table-------------------------*@
        @if (user.ID == 1)
        {
            <div style="width: 100%; border: 1px solid #000">
                <div id="viewparty">
                    @{

                        int totalot = 0;
                        int ot = 0;
                        int eot = 0;

                        <div>

                            <table style="width: 100%;" cellspacing="0" rules="all" border="1">
                                <tr>
                                    <td style="width: 15%; text-align: center">Date</td>
                                    <td style="width: 15%; text-align: center">In Time</td>
                                    <td style="width: 15%; text-align: center">OutTime</td>
                                    <td style="width: 15%; text-align: center">Status</td>
                                    <td style="width: 15%; text-align: center">OT</td>
                                    <td style="width: 15%; text-align: center">BOT</td>
                                    <td style="width: 10%; text-align: center">EOT</td>
                                </tr>


                                @*----------------------Load Items for each transaction (2D array)-----------------------*@

                                @{
                                    foreach (var sublist in Model.DataListReports)
                                    {
                                        totalot += sublist.TotalOT;
                                        ot += sublist.BOT;
                                        eot += sublist.EOT;
                                        <tr>

                                            <td style="text-align: center">@sublist.Date</td>
                                            <td style="text-align: center">@sublist.InTime</td>
                                            <td style="text-align: center">@sublist.OutTime</td>
                                            <td style="text-align: center">@sublist.Status</td>
                                            <td style="text-align: center">@sublist.TotalOT</td>
                                            <td style="text-align: center">@sublist.BOT</td>
                                            <td style="text-align: center">@sublist.EOT</td>

                                        </tr>
                                    }

                                }
                                <tr>
                                    @*<td></td>
                                    <td></td>
                                    <td></td>*@
                                    <td style="text-align: left; font-weight: 800">Total: @workingdays </td>
                                    <td style="text-align: center; font-weight: 800"></td>
                                    <td style="text-align: center; font-weight: 800"></td>
                                    <td></td>
                                    <td style="text-align: center; font-weight: 800">@totalot</td>
                                    <td style="text-align: center; font-weight: 800">@ot</td>
                                    <td style="text-align: center; font-weight: 800">@eot</td>
                                </tr>

                            </table>
                        </div>
                        <div>

                        </div>

                        <br />

                    }
                </div>
            </div>
        }
        else if (user.ID == 2)
        {
            <div style="width: 100%; border: 1px solid #000">
                <div id="viewparty">
                    @{

                        int totalot = 0;

                        <div>

                            <table style="width: 100%;" cellspacing="0" rules="all" border="1">
                                <tr>
                                    <td style="width: 20%; text-align: center">Date</td>
                                    <td style="width: 20%; text-align: center">In Time</td>
                                    <td style="width: 20%; text-align: center">OutTime</td>
                                    <td style="width: 20%; text-align: center">Status</td>
                                    <td style="width: 20%; text-align: center">OT</td>
                                </tr>


                                @*----------------------Load Items for each transaction (2D array)-----------------------*@

                                @{
                                    foreach (var sublist in Model.DataListReports)
                                    {
                                        totalot += sublist.OT;
                                        <tr>

                                            <td style="text-align: center">@sublist.Date</td>
                                            <td style="text-align: center">@sublist.InTime</td>
                                            <td style="text-align: center">@sublist.OutTime</td>
                                            <td style="text-align: center">@sublist.Status</td>
                                            <td style="text-align: center">@sublist.OT</td>

                                        </tr>
                                    }

                                }
                                <tr>
                                    @*<td></td>
                                    <td></td>
                                    <td></td>*@
                                    <td style="text-align: left; font-weight: 800">Total: @workingdays </td>
                                    <td style="text-align: center; font-weight: 800"></td>
                                    <td style="text-align: center; font-weight: 800"></td>
                                    <td></td>
                                    <td style="text-align: center; font-weight: 800">@totalot</td>
                                </tr>

                            </table>
                        </div>
                        <div>

                        </div>

                        <br />

                    }
                </div>
            </div>

        }
        else 
        {
            <div style="width: 100%; border: 1px solid #000">
                <div id="viewparty">
                    @{

                        int totalot = 0;
                        int ot = 0;
                        int eot = 0;

                        <div>

                            <table style="width: 100%;" cellspacing="0" rules="all" border="1">
                                <tr>
                                    <td style="width: 15%; text-align: center">Date</td>
                                    <td style="width: 15%; text-align: center">In Time</td>
                                    <td style="width: 15%; text-align: center">OutTime</td>
                                    <td style="width: 15%; text-align: center">Status</td>
                                    <td style="width: 15%; text-align: center">OT</td>
                                    <td style="width: 15%; text-align: center">BOT</td>
                                    <td style="width: 10%; text-align: center">EOT</td>
                                </tr>


                                @*----------------------Load Items for each transaction (2D array)-----------------------*@

                                @{
                                    foreach (var sublist in Model.DataListReports)
                                    {
                                        totalot += sublist.TotalOT;
                                        ot += sublist.BOT;
                                        eot += sublist.EOT;
                                        <tr>

                                            <td style="text-align: center">@sublist.Date</td>
                                            <td style="text-align: center">@sublist.InTime</td>
                                            <td style="text-align: center">@sublist.OutTime</td>
                                            <td style="text-align: center">@sublist.Status</td>
                                            <td style="text-align: center">@sublist.TotalOT</td>
                                            <td style="text-align: center">@sublist.BOT</td>
                                            <td style="text-align: center">@sublist.EOT</td>

                                        </tr>
                                    }

                                }
                                <tr>
                                    @*<td></td>
                                    <td></td>
                                    <td></td>*@
                                    <td style="text-align: left; font-weight: 800">Total: @workingdays </td>
                                    <td style="text-align: center; font-weight: 800"></td>
                                    <td style="text-align: center; font-weight: 800"></td>
                                    <td></td>
                                    <td style="text-align: center; font-weight: 800">@totalot</td>
                                    <td style="text-align: center; font-weight: 800">@ot</td>
                                    <td style="text-align: center; font-weight: 800">@eot</td>
                                </tr>

                            </table>
                        </div>
                        <div>

                        </div>

                        <br />

                    }
                </div>
            </div>
        }

    </div>
    <div>
        <table style="width: 100%">
            <tbody>
                <tr>
                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Prepared By</span></td>
                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">H.R</span></td>
                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Accountant</span></td>
                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">H.R Department</span></td>
                    <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Director</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
