﻿@model Oss.Hrms.Models.ViewModels.Reports.VM_Report
@using Oss.Hrms.Models;
@{

    ViewBag.Title = "Employee Job Card Summery";
    Layout = null;
}
<style>
    h4 {
        border-bottom: 2px solid black;
        display: inline;
    }

    .trclass {
        border: 1px solid #000;
        font-size: 9px;
        font-weight: 700;
    }

    .container {
        height: 50px;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

    #page {
        width: 1950px;
        margin: 0 auto;
        font-size: 12px;
    }

    @@media print {
        #print, #print * {
            display: none !important;
            
        }
        
        .trclass {
            border: 1px solid #000;
            font-size: 9px;
            font-weight: 700;
        }

        
        
        
    }
</style>


<script>
    function printDiv() {
        window.print();
    }
</script>
<link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div id="page">
    <div>
        @{
            var user = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];

          
        }


        @*-----------------Report Header-----------------*@
        <div style="width: 100%;">
            <table style="width: 100%;" cellspacing="0">
                <tr>
                    <td style="width:10%; text-align: left">Section : @ViewBag.SectionName</td>
                    <td style="width: 10%; text-align:center" colspan="3"><label>Romo Fashion Today Limited</label></td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%">WD = Working Day </td>
                    <td style="width: 10%">CL= Casual Leave</td>
                    <td style="width: 10%">FL = Festival Leave</td>
                    <td style="width: 10%">TP = Total Present</td>
                    <td style="width: 10%">
                        <span id="print" style="float: left; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                            Print
                        </span>
                    </td>

                </tr>
                <tr>
                    <td style="width:10%; text-align: left"></td>
                    <td style="width: 10%; text-align:center" colspan="3">Mouchak, Kaliakoir,Gazipur</td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%">P =  Present</td>
                    <td style="width: 10%">EL = Earn Leave</td>
                    <td style="width: 10%">SL = Special Leave</td>
                    <td style="width: 10%">GT = Grand Total</td>
                    <td style="width: 10%"></td>
                </tr>
                <tr>
                    <td style="width:10%; text-align: left"></td>
                    <td style="width: 10%;  text-align:center" colspan="3">Phone: +88027914984</td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%">L = Late</td>
                    <td style="width: 10%">ML = Medical Leave</td>
                    <td style="width: 10%">H.D = Holiday</td>
                    <td style="width: 10%">INV = Invalid</td>
                    <td style="width: 10%"></td>
                </tr>
                <tr>
                    <td style="width:10%; text-align: left"></td>
                    <td style="width: 10%; text-align:center" colspan="3">Email:info@romofashion.com</td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%">L.L =  Lunch Leave</td>
                    <td style="width: 10%">T.L = Total Leave</td>
                    <td style="width: 10%">AB =  Absent</td>
                    <td style="width: 10%">OT = Buyer OT + Extra OT</td>
                    <td style="width: 10%"></td>
                </tr>
                <tr>
                    <td style="width:10%; text-align: left"></td>
                    <td style="width: 10%; text-align:center" colspan="3"><label>From @ViewBag.StartDate.ToString("dd-MMM-yyyy") to @ViewBag.EndDate.ToString("dd-MMM-yyyy")</label></td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%"></td>
                    <td style="width: 10%"></td>
                </tr>
            </table>
        </div>
        <div class="text-center">
            <hr style="width: 100%; color: black; height: 1px; background-color: black;">

        </div>

        @*------------------------Load Table-------------------------*@
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.TableData != null)
                {
                    <div class="table-responsive">
                        <table class="table table-bordered" style="border-color: #000000">
                            <thead class="bg-black-gradient">
                            <tr class="trclass" style="border-color: #000000">
                                @foreach (System.Data.DataColumn col in (ViewBag.TableData as System.Data.DataTable).Columns)
                                {
                                    <th class="center" style="font-size:9px;padding: 1px; text-align: center; width: 95px;border-color: #000000">@col.Caption</th>
                                }
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (System.Data.DataRow dr in (ViewBag.TableData as System.Data.DataTable).Rows)
                            {
                                <tr class="trclass no-padding">
                                    @foreach (var cell in dr.ItemArray)
                                    {
                                        <td class="center" style="font-size:9px; padding:1px; text-align: center; border-color: #000000" >
                                            @cell.ToString()
                                        </td>
                                    }
                                </tr>
                            }
                            </tbody>
                            <tfoot class="bg-black-gradient">
                            @*<tr class="trclass">
                                @foreach (System.Data.DataColumn col in (ViewBag.TableData as System.Data.DataTable).Columns)
                                {
                                    <th class="center">@col.Caption</th>
                                }
                            </tr>*@
                            </tfoot>
                        </table>
                    </div>
                }
            </div>
            <div id="customdiv" style="display:none">
                <table style="width:100%;">
                    <thead>
                    <tr>
                        <th style="width:25%"></th>
                        <th style="width:5%"></th>
                        <th style="width:70%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="font-weight:bold">Line No</td>
                        <td style="font-weight:bold;text-align:center;">:</td>
                        <td><span id="pLineNo"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Period</td>
                        <td style="font-weight:bold;text-align:center;">:</td>
                        <td><span id="pPeriod"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Buyer PO</td>
                        <td style="font-weight:bold;text-align:center;">:</td>
                        <td><span id="pBuyerPO"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Order Qty</td>
                        <td style="font-weight:bold;text-align:center;">:</td>
                        <td><span id="pOrderQty"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Production Qty</td>
                        <td style="font-weight:bold;text-align:center;">:</td>
                        <td><span id="pProductionQty"></span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Remain Qty</td>
                        <td style="font-weight:bold;text-align:center;">:</td>
                        <td><span id="pRemainQty"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <div>
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Prepared By</span></td>
                        <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">T.K.</span></td>
                        <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Accountant</span></td>
                        <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">H.R Department</span></td>
                        <td style="width: 20%; text-align: center; padding-top: 70px"><span style="border-top: 2px solid #000">Director</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
