﻿@model Oss.Hrms.Models.ViewModels.Reports.VM_Report
@{
    ViewBag.Title = "ExtraOTSalary";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12">
        @using (Html.BeginForm("ExtraOTSalary", "Report", FormMethod.Post, new { @target = "_blank" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading pad5A">
                    <h3 class="panel-title">Report Form</h3>
                </div>
                <div id="divPanelbody" class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Payroll Name</label>
                                @Html.DropDownListFor(model => model.PayrollID, ViewBag.PayrollList as IEnumerable<SelectListItem>, "Select a Payroll", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.PayrollID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Section Name</label>
                                @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionList as IEnumerable<SelectListItem>, "Select a Section", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group" style="padding-top:25px;">
                                <div class="col-md-offset-12">
                                    <input type="submit" value="Generate Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    
                    </div>
             
                    @*<div class="row">
                        <div class="col-md-9">
                            <div class="form-group" style="padding-top:25px;">
                                <div class="col-md-offset-12">
                                    <input type="submit" value="Generate Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                }
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
