﻿@model Oss.Hrms.Models.ViewModels.Reports.VM_Report

@{
    ViewBag.Title = "JobCard Summary";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="row">

    <div class="col-lg-12 col-md-12">
        @using (Html.BeginForm("PeriodicJobCard", "Report", FormMethod.Post, new { @target = "_blank" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading pad5A">
                    <h3 class="panel-title">JobCard Summary</h3>
                </div>
                <div id="divPanelbody" class="panel-body">
                    <div class="row">

                        <div id="divfromdate" class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fromdate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control calendarControl ", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divtodate" class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Todate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.Todate, new { @class = "form-control calendarControl ", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Todate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divEmployeelist" class="col-md-3">
                            <div class="form-group">
                                <label>Section</label>
                                @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionList as IEnumerable<SelectListItem>, "Select Section", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group" style="padding-top:25px;">
                                <div class="col-md-offset-3">
                                    <input type="submit" value="View Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="panel panel-default border-top border-blue">
                <div class="box-body table-responsive">

                    <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                        <thead>
                            <tr>
                                <th>
                                    Card Title
                                </th>
                                <th>
                                    Card NO
                                </th>
                                <th>
                                    Employee Name
                                </th>
                                <th>
                                    Section
                                </th>
                                <th>
                                    Section Head 
                                </th>
                                <th>
                                    Working Days
                                </th>
                                <th>
                                    Present
                                </th>
                                <th>
                                    Absent
                                </th>
                                <th>
                                    Late
                                </th>
                                <th>
                                    Leave
                                </th>
                                <th>
                                    Holiday
                                </th>
                                <th>
                                    Festival Leave
                                </th>
                                <th>
                                    Total Present
                                </th>
                                <th>
                                    Grand Total
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.ListData)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CardTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CardNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SectionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GrandTotal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Present)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Absent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Late)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Leave)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Offday)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Holiday)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalPresent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GrandTotal)
                                    </td>
                                  </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
          }
    </div>
</div>
