﻿@model Oss.Hrms.Models.ViewModels.Reports.VMEmployeeReport
@{
    ViewBag.Title = "SelectedEmployeeReport";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Selected Employee Report
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Report</li>
        <li class="active"> Selected Employee Report</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading">
                <h3 class="panel-title">List Of Employee For Report</h3>
            </div>
            <div id="divPanelbody" class="panel-body">
                <div class="panel panel-default border-top border-green">
                    <div id="divPanelbody" class="panel-body">
                        @using (Html.BeginForm("SelectedEmployeeReport", "Report", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Section</label>
                                        @Html.DropDownListFor(model => model.SectionId, ViewBag.SectionList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2" })
                                        @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="padding-top:25px;">
                                        <input type="submit" value="Load" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.DataList != null)
                {
                    using (Html.BeginForm("SelectedEmployeeReportPrint", "Report", FormMethod.Post, new { @target = "_blank" }))
                    {
                        <div class="row">
                            <div class="col-md-7 pull-left">
                                <div class="form-group" style="padding-top:25px;">
                                    <input type="submit" value="Generate Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive">
                            <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            CheckIt
                                        </th>
                                        <th>
                                            CardTitle
                                        </th>
                                        <th>
                                            CardNo
                                        </th>
                                        <th>
                                            EmployeeName
                                        </th>
                                        <th>
                                            Designation
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int item = 0; Model.DataList.Count > item; item++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(model => model.DataList[item].EmployeeId)
                                                @Html.CheckBoxFor(model => model.DataList[item].IsChecked, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.DataList[item].CardTitle, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.DataList[item].CardNo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.DataList[item].EmployeeName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.DataList[item].Designation, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
