﻿@model Oss.Hrms.Models.ViewModels.HRMS.VMEmployee

@{
    ViewBag.Title = "IndexEmployeeDetails";
}
@using (Html.BeginForm("IndexEmployeeDetails", "Form", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Application</h3>
        </div>
        <div id="divPanelbody" class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Employee Status</label>
                        @Html.DropDownListFor(model => model.Present_Status, ViewBag.EmpStatus as IEnumerable<SelectListItem>, "Select a Status", new { @id = "Status", @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Present_Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Employee Name</label>
                        @Html.DropDownListFor(model => model.ID, new SelectList(string.Empty, "Value", "Text"), "Select Employee Name", new {@id="EmployeeId", @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="col-md-4">
                    <div class="form-group">
                        <label>Employee Name</label>
                        @Html.DropDownListFor(model => model.ID, ViewBag.Emp as IEnumerable<SelectListItem>, "Select Employee Name", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="col-md-2">
                    <div class="form-group" style="padding-top:25px;">
                        <div class="col-md-offset-3">
                            <input type="submit" value="Show" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {

            $("#Status").change(function () {
                
                var StatusId = $("#Status").val();
                console.log(StatusId);
                if (StatusId != null)
                {
                    $("#EmployeeId").empty();
                    @*$.ajax({
                        type: "post",
                        url: "@Url.Action("GetPoByProjectId", "Helper")",
                        data: { pid: $('#ddlProjectFk').val() },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {

                            $("#ddlPoMasterFk").append("<option value='0'>---Select PO---</option>");
                            $("#ddlSiteFk").append("<option value='0'>---Select Site/Task---</option>");
                            $.each(data,
                                function (index, row) {
                                    $("#EmployeeId").append("<option value='" + row.Id + "'>" + row.Name + "</option>");
                                });
                        }
                    });*@



                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetEmployeeByStatus", "EmployeeRecord")",
                        datatype: "Json",
                        data: { Id: StatusId },
                        success: function (data) {
                            $("#EmployeeId").append("<option value='0'>--Select a Employee--</option>");
                            $.each(data, function (index, row) {
                                $("#EmployeeId").append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                                });
                        },
                        error: function (xhr, status) {
                            alert(status);
                        }

                    });
                }
                
            });


        });

        
    </script>
}
