﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Application

@{
    ViewBag.Title = "AddLeaveApplication";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
@using (Html.BeginForm("AddLeaveApplication", "Leave", FormMethod.Post, new { id = "AddLeaveApplication", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Leave Application</h3>
    </div>
    <div id="divPanelbody" class="panel-body" style="min-height: 45em">
        <div class="row mrg10T">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="EmployeeId">Card Title + Card No</label>
                    @*@Html.LabelFor(model => model.LeaveApplication.EmployeeId, htmlAttributes: new { @class = "control-label" })*@
                    @Html.DropDownListFor(model => model.LeaveApplication.EmployeeId, ViewBag.Employee as IEnumerable<SelectListItem>,
                        "Select Employee", new {@id = "EmployeeId", @class = "form-control  myselect2"})
                    @Html.ValidationMessageFor(model => model.LeaveApplication.EmployeeId, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Employee.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Employee.Name, new { htmlAttributes = new { @id="txtEmpName", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Employee.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Designation.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Designation.Name, new { htmlAttributes = new { @id = "txtDesignName", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Designation.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Section.SectionName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Section.SectionName, new { htmlAttributes = new {@id= "txtSectionName", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Section.SectionName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group ">
                <label for="JoiningDate" class="">Joining Date:</label>
                <span><i class="ion-star font-red"></i></span>
                @Html.TextBoxFor(model => model.Employee.Joining_Date,  new  { @id = "txtJoiningDate", @class = "form-control"})
            </div>
        </div>
        @*<div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.LeaveApplication.JoiningWorkAfterLeave, htmlAttributes: new {@class = "control-label"})
                <div class="input-group date">
                    @Html.EditorFor(model => model.LeaveApplication.JoiningWorkAfterLeave, new {htmlAttributes = new {@class = "form-control calendarControl"}})
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.LeaveApplication.JoiningWorkAfterLeave, "", new {@class = "text-danger"})
            </div>
        </div>*@
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.LeaveApplication.Purpose, htmlAttributes: new {@class = "control-label"})
                @Html.TextBoxFor(model => model.LeaveApplication.Purpose, new {Value = "", @class = "form-control"})
                @Html.ValidationMessageFor(model => model.LeaveApplication.Purpose, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.LeaveApplication.StayDuringLeave, htmlAttributes: new {@class = "control-label"})
                @Html.TextBoxFor(model => model.LeaveApplication.StayDuringLeave, new {Value = "", @class = "form-control"})
                @Html.ValidationMessageFor(model => model.LeaveApplication.StayDuringLeave, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
    <div class="row hide" id="divleavebalance">
        <div class="col-md-12">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Lblleavebalance, new {Value = "No Leave Assign Yet", @class = "form-control", @readonly="readonly"}) 
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label" })*@
                    <label for="EmployeeId">From</label>
                    <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                        @Html.TextBoxFor(model => model.From1, new {id="first", Value = "", @class = "form-control calendarControlleave", autocomplete = "off" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.From1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.To1, htmlAttributes: new { @class = "control-label" })*@
                    <label for="EmployeeId">To</label>
                    <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                        @Html.TextBoxFor(model => model.To1, new { id = "second", Value = "", @class = "form-control calendarControlleave", autocomplete = "off" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.To1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    
                    <input type="hidden" id="Days1" name="Days1" value="" />
                    @Html.LabelFor(model => model.LeaveApplication.Days, htmlAttributes: new {@class = "control-label"})
                    @Html.EditorFor(model => model.LeaveApplication.Days, new
                    {
                        htmlAttributes = new
                        {
                            id = "total",
                            @class = "form-control"@*, @readonly = "readonly"*@
                        }
                    })
                    @Html.ValidationMessageFor(model => model.LeaveApplication.Days, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.LeaveApplication.LeaveTypeId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.LeaveApplication.LeaveTypeId, ViewBag.LeaveType as IEnumerable<SelectListItem>,
                        "Select Leave Type", new {id= "ddlleaveType", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LeaveApplication.LeaveTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.LeaveApplication.Comment, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.LeaveApplication.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeaveApplication.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.LeaveApplication.Recommended, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.LeaveApplication.Recommended, ViewBag.Employee as IEnumerable<SelectListItem>,
                     "Select Recommended By", new { @class = "form-control  myselect2" })
                    @Html.ValidationMessageFor(model => model.LeaveApplication.Recommended, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.SectionIncharge, htmlAttributes: new { @class = "control-label" })
                    @{ var listIteSectionIncharge = new List<ListItem>
                       {
                           new ListItem {Text = "Incharge", Value = "Incharge"},
                           new ListItem {Text = "Asst. Incharge", Value = "Asst. Incharge"}
                       }; }
                    @Html.DropDownListFor(model => model.SectionIncharge, new SelectList(listIteSectionIncharge, "Value",
                     "Text"), new { @class = "form-control myselect2" })
                    @*@Html.DropDownListFor(model => model.LeaveApplication.SectionIncharge, ViewBag.Employee as IEnumerable<SelectListItem>,
                "Select Section Incharge", new { @class = "form-control  myselect2" })*@
                    @Html.ValidationMessageFor(model => model.SectionIncharge, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.APMorPM, htmlAttributes: new { @class = "control-label" })
                    @{ var listItepmapm = new List<ListItem>
                       {
                           new ListItem {Text = "PM", Value = "PM"},
                           new ListItem {Text = "APM", Value = "APM"}
                       }; }
                    @Html.DropDownListFor(model => model.APMorPM, new SelectList(listItepmapm, "Value",
                     "Text"), new { @class = "form-control myselect2" })
                    @*@Html.DropDownListFor(model => model.LeaveApplication.APMorPM, ViewBag.Employee as IEnumerable<SelectListItem>,
                "Select APM/PM", new { @class = "form-control  myselect2" })*@
                    @Html.ValidationMessageFor(model => model.APMorPM, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.FM, htmlAttributes: new { @class = "control-label" })
                    @{ var listItemFM = new List<ListItem>
                       {
                           new ListItem {Text = "FM", Value = "FM"}
                       }; }
                    @Html.DropDownListFor(model => model.FM, new SelectList(listItemFM, "Value",
                     "Text"), new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.FM, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.HRDepartment, htmlAttributes: new { @class = "control-label" })
                    @{ var listItemHR = new List<ListItem>
                           {
                               new ListItem {Text = "HR", Value = "HR"},
                               new ListItem {Text = "Admin", Value = "Admin"}
                           }; }
                    @Html.DropDownListFor(model => model.HRDepartment, new SelectList(listItemHR, "Value",
                        "Text"), new { @class = "form-control myselect2" })
                    @*@Html.DropDownListFor(model => model.LeaveApplication.HRDepartment, ViewBag.Employee as IEnumerable<SelectListItem>,
                "Select HR Department", new { @class = "form-control  myselect2" })*@
                    @Html.ValidationMessageFor(model => model.HRDepartment, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ApprovedBy, htmlAttributes: new { @class = "control-label" })
                @{ var listItemApprovedBy = new List<ListItem>
           {
               new ListItem {Text = "Director", Value = "Director"},
               new ListItem {Text = "Executive Director", Value = "Executive Director"},
               new ListItem {Text = "Chairman", Value = "Chairman"}
           }; }
                @Html.DropDownListFor(model => model.ApprovedBy, new SelectList(listItemApprovedBy, "Value",
             "Text"), new { @class = "form-control myselect2" })
                @Html.ValidationMessageFor(model => model.ApprovedBy, "", new { @class = "text-danger" })
            </div>
        </div>*@

            @*<div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.LeaveApplication.LeavePaidType, new {@class = "control-label "})
                &nbsp; <span><i class="ion-star font-red"></i></span>
                @{ var listItemsLptp = new List<ListItem>
                   {
                       new ListItem {Text = "Paid", Value = "1", Selected = true},
                       new ListItem {Text = "UnPaid", Value = "2"}
                   }; }
                @Html.DropDownList("LeaveApplication.LeavePaidType", new SelectList(listItemsLptp, "Value", "Text"), new {@class = "form-control myselect2"})
                @Html.ValidationMessageFor(model => model.LeaveApplication.LeavePaidType, "", new {@class = "text-danger"})
            </div>
        </div>*@
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-offset-11 col-md-12">
                            <input type="submit" value="Save" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {


            function ConvertJsonDateString(jsonDate) {
                var shortDate = null;
                if (jsonDate) {
                    var regex = /-?\d+/;
                    var matches = regex.exec(jsonDate);
                    var dt = new Date(parseInt(matches[0]));
                    var month = dt.getMonth() + 1;
                    var monthString = month > 9 ? month : '0' + month;
                    var day = dt.getDate();
                    var dayString = day > 9 ? day : '0' + day;
                    var year = dt.getFullYear();
                    shortDate = monthString + '-' + dayString + '-' + year;
                }
                return shortDate;
            };

            /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */
            $("#EmployeeId").change(function() {
                //$("#ddlUnit_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetEmployeeInformation", "Leave")",
                    datatype: "Json",
                    data: { empId: $("#EmployeeId").val() },
                    success: function(data) {
                        document.getElementById("txtEmpName").value = data.Employee.Name;
                        var jsonDate = data.Employee.Joining_Date; //'/Date(1388412173070)/';
                        var date = ConvertJsonDateString(jsonDate);
                        console.log(date);
                        var d = date.substring(3, 5);
                        console.log(d);
                        var m = date.substring(0, 2);
                        console.log(m);
                        var y = date.substring(6, 10);
                        console.log(y);
                        var dt = y + "/" + m + "/" + d;
                        document.getElementById("txtJoiningDate").value = dt; //date;
                        //document.getElementById("txtJoiningDate").value = new Date().setTime(data.Employee.Joining_Date);
                        document.getElementById("txtDesignName").value = data.Designation.Name;
                        document.getElementById("txtSectionName").value = data.Section.SectionName;

                    },
                    error: function(xhr, status) {
                        alert(status);
                    }
                 
                });
            });


            
            $('#ddlleaveType').select2().on("select2-selecting", function (e) {
                //TODO: step2 loading mathod
                //alert('ok go');
                if (e.val !== "") {
                    var eid = $("#EmployeeId").val();
                    var leaveyear = $("#first").val();
                    console.log('eid', eid);
                    console.log('leaveyear', leaveyear);
                    getLeaveAmountforLeaveApplication(eid, leaveyear,e.val);

                } 
            }).on("change", function (e) {


                if (e.val !== "0") {
                    //
                }
            });
            // $("#EmployeeId").val(), leavetypeid: $("#LeaveTypeId").val()

            function getLeaveAmountforLeaveApplication(eid, leaveyear,lid) {
                if (eid !== "" && lid !== "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetLeaveInformationInformation", "Leave")",
                        datatype: "Json",
                        data: { empId: eid, leavetypeid: lid, leaveyear: leaveyear },
                        success: function (data) {
                            if (data.Lblleavebalance != null) {
                                //document.getElementById("Lblleavebalance").value = data.Lblleavebalance;
                                $('#Lblleavebalance').val(data.Lblleavebalance);
                                $('#divleavebalance').removeClass("hide");
                            }
                           
                        },
                        error: function(xhr, status) {
                            alert(status);
                        }
                    });
                } else {
                    alert('Select Employee ID and Leave Type');
                }
            }

            $('.calendarControlleave').datepicker({
                autoclose: true,
               // format: "d/m/yyyy"
               format: "yyyy/m/d"
            });

            function parseDate(str) {
                var mdy = str.split('/');
                return new Date(mdy[0], mdy[1] - 1, mdy[2]);
               // return new Date(mdy[2], mdy[1], mdy[0] - 1);
            }

            function datediff(first, second) {
                // Take the difference between the dates and divide by milliseconds per day.
                // Round to nearest whole number to deal with DST.
                return Math.round((second - first) / (1000 * 60 * 60 * 24));
            }

            // alert(datediff(parseDate(first.value), parseDate(second.value)));
            $("#second").change(function () {
                var tot = 0;
                tot = (datediff(parseDate(first.value), parseDate(second.value)));
                document.getElementById("total").value = tot + 1;
                document.getElementById("Days1").value = tot + 1;
            });

           

        });
    </script>
}
