﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Earn_Leave_Payment
@{
    ViewBag.Title = "EarnLeaveCalcuation";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Earn Leave Calculation
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Leave</li>
        <li class="active"> Earn Leave Calculation</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading">
                <h3 class="panel-title">Earn Leave Calculation</h3>
            </div>
            <div id="divPanelbody" class="panel-body">
                <div class="panel panel-default border-top border-green">
                    <div id="divPanelbody" class="panel-body">
                        @using (Html.BeginForm("EarnLeaveCalcuation", "Leave", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Employee </label>
                                        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2" })
                                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>To Date </label>
                                        <div class="input-group date">
                                           
                                            @Html.TextBoxFor(model => model.ToDate, new {@class = "form-control calendarControl", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="padding-top:25px;">
                                        <input type="submit" value="Load" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.DataList != null)
                {
                    using (Html.BeginForm("EarnLeaveCalcuationSave", "Leave", FormMethod.Post, new { @target = "_blank" }))
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.EmployeeId)
                            @Html.HiddenFor(model => model.ToDate)
                            <div class="col-md-7 pull-left">
                                <div class="form-group" style="padding-top: 25px;">
                                    <input type="submit" value="Save Earn Leave" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                        <div id="viewform">
                            <div class="col-md-12 mrg10T">
                                @if (Model.DataList != null && Model.DataList.Any())
                                {
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.SectionName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Name)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Designation)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Joining_Date)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.PaymentDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Total_Month)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.WorkingDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Holiday)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.OffDay)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.TotalLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.TotalAbsent)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.TotalDeductionDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.PayableWorkingDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.TotalEarnLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.EnjoyAbleEarnLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.PayableEarnLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Stamp)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.PayableEarnLeaveTk)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.DataList)
                                                    {
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.SectionName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Designation)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Joining_Date)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.PaymentDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Total_Month)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.WorkingDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Holiday)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.OffDay)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.TotalLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.TotalAbsent)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.TotalDeductionDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.PayableWorkingDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.TotalEarnLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.EnjoyAbleEarnLeave)
                                                        </th>               
                                                        <th>                
                                                            @Html.DisplayFor(modelItem => item.PayableEarnLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Stamp)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.PayableEarnLeaveTk)
                                                        </th>

                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                @*}*@
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
