﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Application
@{
    ViewBag.Title = "EditLeaveApplication";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

@using (Html.BeginForm("EditLeaveApplication", "Leave", FormMethod.Post, new { id = "EditLeaveApplication", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.EmployeeId)
    @Html.HiddenFor(model => model.LeaveTypeId)
    <div class="panel panel-default content-box border-top border-green">
        <div class="panel-heading">
            <h3 class="panel-title">Details Information </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EmployeeIdentity)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DesignationName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DesignationName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Leave_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Leave_Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.To)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.To)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Purpose)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Purpose)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.JoiningWorkAfterLeave)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.JoiningWorkAfterLeave)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.RecommendedName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RecommendedName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.HRDepartmentName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HRDepartmentName)
                        </dd>
                        
                        <dt>
                            @Html.DisplayNameFor(model => model.FM)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FM)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SectionName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SectionName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.From)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.From)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Days)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Days)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.StayDuringLeave)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StayDuringLeave)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SectionInchargeName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SectionInchargeName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.APMorPMName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.APMorPMName)
                        </dd>
                        
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EmployeeId">From</label>
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                               <div class="input-group date">
                                   @Html.TextBoxFor(model => model.From, new { id = "first", placeholder = "YYYY/MM/DD", @Value = @ViewBag.FromDate, @class = "form-control calendarControlleave", autocomplete = "off" })
                                   <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                   </span>
                               </div>
                        @Html.ValidationMessageFor(model => model.From1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="EmployeeId">To</label>
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.To, new { id = "second", @Value = @ViewBag.ToDate, placeholder = "YYYY/MM/DD", @class = "form-control calendarControlleave", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.To1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="hidden" id="Days1" name="Days1" value="" />
                        @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Days, new
                        {
                            htmlAttributes = new
                            {
                                id = "total",
                                @class = "form-control"@*, @readonly = "readonly"*@
                            }
                        })
                        @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeaveStatus, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @{ var LeaveStatus = new List<ListItem>
                            {
                                new ListItem {Text = "Approve", Value = "1", Selected = true},
                                new ListItem {Text = "Reject", Value = "2"}
                            }; }
                        @Html.DropDownList("LeaveStatus", new SelectList(LeaveStatus, "Value", "Text"), new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.LeaveStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeavePaidType, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @{ var listItemsLptp = new List<ListItem>
                            {
                                new ListItem {Text = "Paid", Value = "1", Selected = true},
                                new ListItem {Text = "UnPaid", Value = "2"}
                            }; }
                        @Html.DropDownList("LeavePaidType", new SelectList(listItemsLptp, "Value", "Text"), new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.LeavePaidType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Comment, new
                        {
                            htmlAttributes = new
                            {
                                id = "total",
                                @class = "form-control"
                            }
                        })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 pull-right">
                    <div class="form-group pull-right">
                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {


            function ConvertJsonDateString(jsonDate) {
                var shortDate = null;
                if (jsonDate) {
                    var regex = /-?\d+/;
                    var matches = regex.exec(jsonDate);
                    var dt = new Date(parseInt(matches[0]));
                    var month = dt.getMonth() + 1;
                    var monthString = month > 9 ? month : '0' + month;
                    var day = dt.getDate();
                    var dayString = day > 9 ? day : '0' + day;
                    var year = dt.getFullYear();
                    shortDate = monthString + '-' + dayString + '-' + year;
                }
                return shortDate;
            };

            /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */
            $("#EmployeeId").change(function() {
                //$("#ddlUnit_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetEmployeeInformation", "Leave")",
                    datatype: "Json",
                    data: { empId: $("#EmployeeId").val() },
                    success: function(data) {
                        document.getElementById("txtEmpName").value = data.Employee.Name;
                        var jsonDate = data.Employee.Joining_Date; //'/Date(1388412173070)/';
                        var date = ConvertJsonDateString(jsonDate);
                        console.log(date);
                        var d = date.substring(3, 5);
                        console.log(d);
                        var m = date.substring(0, 2);
                        console.log(m);
                        var y = date.substring(6, 10);
                        console.log(y);
                        var dt = y + "/" + m + "/" + d;
                        document.getElementById("txtJoiningDate").value = dt; //date;
                        //document.getElementById("txtJoiningDate").value = new Date().setTime(data.Employee.Joining_Date);
                        document.getElementById("txtDesignName").value = data.Designation.Name;
                        document.getElementById("txtSectionName").value = data.Section.SectionName;

                    },
                    error: function(xhr, status) {
                        alert(status);
                    }

                });
            });



            $('#ddlleaveType').select2().on("select2-selecting", function (e) {
                //TODO: step2 loading mathod
                //alert('ok go');
                if (e.val !== "") {
                    var eid = $("#EmployeeId").val();
                    var leaveyear = $("#first").val();
                    console.log('eid', eid);
                    console.log('leaveyear', leaveyear);
                    getLeaveAmountforLeaveApplication(eid, leaveyear,e.val);

                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                    //
                }
            });
            // $("#EmployeeId").val(), leavetypeid: $("#LeaveTypeId").val()

            function getLeaveAmountforLeaveApplication(eid, leaveyear,lid) {
                if (eid !== "" && lid !== "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetLeaveInformationInformation", "Leave")",
                        datatype: "Json",
                        data: { empId: eid, leavetypeid: lid, leaveyear: leaveyear },
                        success: function (data) {
                            if (data.Lblleavebalance != null) {
                                //document.getElementById("Lblleavebalance").value = data.Lblleavebalance;
                                $('#Lblleavebalance').val(data.Lblleavebalance);
                                $('#divleavebalance').removeClass("hide");
                            }

                        },
                        error: function(xhr, status) {
                            alert(status);
                        }
                    });
                } else {
                    alert('Select Employee ID and Leave Type');
                }
            }

            $('.calendarControlleave').datepicker({
                autoclose: true,
               // format: "d/m/yyyy"
               format: "yyyy/m/d"
            });

            function parseDate(str) {
                var mdy = str.split('/');
                return new Date(mdy[0] - 1, mdy[1], mdy[2]);
               // return new Date(mdy[2], mdy[1], mdy[0] - 1);
            }

            function datediff(first, second) {
                // Take the difference between the dates and divide by milliseconds per day.
                // Round to nearest whole number to deal with DST.
                return Math.round((second - first) / (1000 * 60 * 60 * 24));
            }

            // alert(datediff(parseDate(first.value), parseDate(second.value)));
            $("#second").change(function () {
                var tot = 0;
                tot = (datediff(parseDate(first.value), parseDate(second.value)));
                document.getElementById("total").value = tot + 1;
                document.getElementById("Days").value = tot + 1;
            });



        });
    </script>
}
