﻿@using System.Web.UI.WebControls
@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Employee_OffDay

@{
    ViewBag.Title = "EditEmployeeOffDay";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("EditEmployeeOffDay","Leave",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-horizontal">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label  col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.EmployeeId, ViewBag.Employee as IEnumerable<SelectListItem>,
                        "Select Employee", new { @class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.OffDay, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @{ var listItemsGn = new List<ListItem>
                   {
                       new ListItem {Text = "", Value = ""},
                       new ListItem {Text = "Saturday", Value = "Saturday"},
                       new ListItem {Text = "Sunday", Value = "Sunday"},
                       new ListItem {Text = "Monday", Value = "Monday"},
                       new ListItem {Text = "Tuesday", Value = "Tuesday"},
                       new ListItem {Text = "Wednesday", Value = "Wednesday"},
                       new ListItem {Text = "Thursday", Value = "Thursday"},
                       new ListItem {Text = "Friday", Value = "Friday"}
                   };
                }
                @Html.DropDownList("OffDay", new SelectList(listItemsGn, "Value", "Text"),new { @class = "form-control myselect2" })
                @*@Html.EditorFor(model => model.OffDay, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.OffDay, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </div>
        </div>
    </div>
}


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
