﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Application

@{
    ViewBag.Title = "IndexLeaveApplication";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Experience Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        <div class="row">
            <div class="box-body table-responsive">
                <table class="table table-hover table-responsive table-bordered nowrap font-black">
                    <tr>
                        <th>Sl.</th>
                        <th>Employee Id.</th>
                        <th>Employee Name</th>
                        <th>Project Name</th>
                        <th>Work Station</th>
                        <th>Purpose</th>
                        <th>Stay During Leave</th>
                        <th>Contact</th>
                        <th>Comment</th>
                        <th>Leave Status</th>
                        <th>Action</th>
                    </tr>
                    @{
                        int a = 0;
                        foreach (var item in Model.LeaveApplications)
                        {
                            a = a + 1;
                            <tr>
                                <td>@a</td>
                                <td>@item.EmployeeIdentity</td>
                                <td>@item.Name</td>
                                <td>@item.ProjectName</td>
                                <td>@item.WorkStationName</td>
                                <td>@item.Purpose</td>
                                <td>@item.StayDuringLeave</td>
                                <td>
                                    Mobile: @item.MobileNo
                                    Alt. Mobile: @item.AltMobileNo
                                </td>
                                <td>@item.Comment</td>
                                <td>@item.LeaveStatus</td>
                                <td>
                                    @Html.ActionLink(" ", "EditLeaveApplication", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) &nbsp;
                                    @Html.ActionLink(" ", "DeleteLeaveApplication", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" }) &nbsp;
                                    @Html.ActionLink(" ", "DetailEmployeeIdWise", new { id = item.ID }, new { @class = "glyphicon glyphicon-list" })
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
