﻿@model Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Earn_Leave_Payment
@{
    ViewBag.Title = "SectionWiseEarnLeaveCalcuation";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Earn Leave Calculation
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Leave</li>
        <li class="active"> Earn Leave Calculation</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading">
                <h3 class="panel-title">Earn Leave Calculation</h3>
            </div>
            <div id="divPanelbody" class="panel-body">
                <div class="panel panel-default border-top border-green">
                    <div id="divPanelbody" class="panel-body">
                        @using (Html.BeginForm("SectionWiseEarnLeaveCalcuation", "Leave", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Section </label>
                                        @Html.DropDownListFor(model => model.SectionId, ViewBag.SectionList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2" })
                                        @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>To Date </label>
                                        <div class="input-group date">

                                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control calendarControl", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="padding-top:25px;">
                                        <input type="submit" value="Load" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.DataList != null)
                {
                    using (Html.BeginForm("SectionWiseEarnLeaveCalcuationSave", "Leave", FormMethod.Post, new { id= "sectionsiseearnleavecalcuationsaveform", data_server = "true", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.ToDate)
                            @Html.HiddenFor(model => model.EmployeeIds)
                            <div class="col-md-7 pull-left">
                                <div class="form-group" style="padding-top: 25px;">
                                    <input id="btnsectionwiseearnleavesave" type="submit" value="Save Earn Leave" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        <div id="viewform">
                            <div class="col-md-12 mrg10T">
                                @if (Model.DataList != null && Model.DataList.Any())
                                {
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <table id="tblEarnLeaveCalculation" class="table table-hover table-responsive table-bordered nowrap font-black">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        <input type="checkbox" name="select_all" value="1" id="chk-select-all">
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.ID)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.SectionName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Name)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Designation)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Joining_Date)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.PaymentDate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Total_Month)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.WorkingDays)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Holiday)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.OffDay)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TotalLeave)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TotalAbsent)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TotalDeductionDays)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.PayableWorkingDays)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TotalEarnLeave)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.EnjoyAbleEarnLeave)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.PayableEarnLeave)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Stamp)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.PayableEarnLeaveTk)
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.DataList)
                                                    {
                                                    <tr>
                                                        <th>
                                                            <input type="checkbox" name="select_all" value="@item.ID)" id="chk-select-all">
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayFor(modelItem => item.ID)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.SectionName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Designation)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Joining_Date)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.PaymentDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Total_Month)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.WorkingDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Holiday)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.OffDay)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.TotalLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.TotalAbsent)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.TotalDeductionDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.PayableWorkingDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.TotalEarnLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.EnjoyAbleEarnLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.PayableEarnLeave)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.Stamp)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.PayableEarnLeaveTk)
                                                        </th>

                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                @*}*@
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            /*
*  This is used for Data Table declartion.
*/
            var tblEarnLeaveCalculation = $('#tblEarnLeaveCalculation').DataTable({
                "order": [],
                "language": {
                    searchPlaceholder: "Search in Employee....."
                },
                "responsive": true//,
            });

            //$("#check").find("input[type='checkbox']:checked").length;
            //$("#check").find("input[type='checkbox']:checked").each(function(){
           // alert($(this).closest('span').attr("title"));
        //});
            //
            /*
  *  This is used for Select all Employee or select Specific Employee as per selected  Employee.
  */
            $('#chk-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = tblEarnLeaveCalculation.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            $('#tblEarnLeaveCalculation tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });
            // $('input[name="SelectedLocation"]:checked');
            $(document).off('click', '#btnsectionwiseearnleavesave');
            $(document).on('click', '#btnsectionwiseearnleavesave', function (e) {
                e.preventDefault();

                var datas;
                if ($('#chk-select-all').prop("checked") === true) {

                    datas = tblEarnLeaveCalculation.rows().data();
                } else {
                    datas = tblEarnLeaveCalculation.rows('.selected').data();
                }
                var ids = "";
                //piconstarr = alldatas;
                for (var i = 0; i < datas.length; i++) {
                    ids += datas[i][1] + ",";
                }
                $("#EmployeeIds").val(ids);
                //$("#hidEmployeeIds").val(ids);
                console.log('ids', ids);
                $("#sectionsiseearnleavecalcuationsaveform").submit();
            });

        });
    </script>
}


