﻿@model Oss.Hrms.Models.ViewModels.Salary.VMSalaryIncrement
@{
    ViewBag.Title = "Advance";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<style type="text/css">
    .savedColor{
        color:blue;
        font-weight:bold;
    }
    .noBasicColor {
        color: red;
    }
</style>
<section class="content-header">
    <h1>
        Advance
        <small>Payment</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Advance Payment</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Section Wise Employee Advance Payment</h3>
                    <!-- /.box-tools -->
                </div>
                <div class="box-body">
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Payment Date", new { @class = "control-label" })
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.FromDate, new { @id = "fdate", @class = "form-control calendarControl", autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Section", new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionList as IEnumerable<SelectListItem>, "Select a Section", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-top:25px;">
                            <div class="form-group">
                                <input type="submit" value="Preview" class="btn btn-primary" />
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.DataList != null)
    {
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Model.Title</h3>
                    </div>
                    @using (Html.BeginForm("AdvancePayment", "Payroll", FormMethod.Post, new { data_server = "true", id = "salaryYearlyIncrement" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(modelItem => Model.FromDate)
                        @Html.HiddenFor(modelItem => Model.SectionID)
                        <div class="panel-body">
                            <div style="padding-bottom:10px;">
                                <div class="col-md-12 col-lg-12">
                                    <input type="submit" value="Save" class="btn btn-primary btn-block btn-flat" />
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table id="advanceTable" class="table table-hover table-responsive table-bordered nowrap font-black">
                                    <thead>
                                        <tr>
                                            <th>.</th>
                                            <th>CardNO</th>
                                            <th>CardTitle</th>
                                            <th>Employee Name</th>
                                            <th>Designation</th>
                                            <th>Section</th>
                                            <th>JoinDate</th>
                                            <th>Basic</th>
                                            <th>Gross</th>
                                            <th>Amount</th>
                                            <th>Advance Pay</th>
                                            <th>Payment Date</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>CardNO</th>
                                            <th>CardTitle</th>
                                            <th>Employee Name</th>
                                            <th>Designation</th>
                                            <th>Section</th>
                                            <th>JoinDate</th>
                                            <th>Basic</th>
                                            <th>Gross</th>
                                            <th>Amount</th>
                                            <th>Advance Pay</th>
                                            <th>Payment Date</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @for (int item = 0; item < Model.DataList.Count(); ++item)
                                        {
                                        <tr class="@Model.DataList[item].SaveItem">
                                            <td>
                                                @Html.HiddenFor(modelItem => Model.DataList[item].EmployeeID)
                                                @Html.HiddenFor(modelItem => Model.DataList[item].FromDate)
                                                @Html.EditorFor(modelItem => Model.DataList[item].IsChecked)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].CardNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].CardTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].EmployeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].Designation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].Section)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].ViewJoinDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].Basic)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].Gross)
                                            </td>
                                            <td style="width:80px;">
                                                @Html.EditorFor(modelItem => Model.DataList[item].AdvanceAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].AdvancePay)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[item].ViewEfectDate)
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</section>
