﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "Assign Night Bill";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("CreateBill", "Payroll", FormMethod.Post, new { data_server = "true", id = "createBill" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DesignationId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.DesignationId, ViewBag.DesignationList as IEnumerable<SelectListItem>, "Select a Designation", new { @class = "form-control SerchingDropDown" })
                            @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NightRateAmount, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NightRateAmount, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                            @Html.ValidationMessageFor(model => model.NightRateAmount, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <input type="submit" value="Save" class="btn btn-success" />
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
