﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "CreateSalary";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("CreateASalary", "Payroll", FormMethod.Post, new { data_server = "true", id = "createASalary" }))
    {
        <div class="form-horizontal">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.EmployeeID, ViewBag.Emp as IEnumerable<SelectListItem>, "Select Employee Name", new { @class = "form-control SerchingDropDown" })
                            @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OTAllow, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.OTAllow, ViewBag.OTAllowance as IEnumerable<SelectListItem>, "Select Employee Alocation", new { @id = "OT", @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.OTAllow, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GrossSalary, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.GrossSalary, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                            @Html.ValidationMessageFor(model => model.GrossSalary, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <input type="submit" value="Create" class="btn btn-success" />
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}