﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "ProcessPayroll";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("CreatePayroll", "Payroll", FormMethod.Post, new { data_server = "true", id = "createPayroll" }))
    {
        <div class="form-horizontal">
            
            @Html.AntiForgeryToken()
            <h1>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </h1>
            
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.Label("Payroll Title", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Monthly, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Monthly, ViewBag.Monthly as IEnumerable<SelectListItem>, "Select Card Title", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                        </div>*@
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.HasFastivalBonus, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.HasFastivalBonus, ViewBag.Fastival as IEnumerable<SelectListItem>, new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.HasFastivalBonus, "", new { @class = "text-danger" })
                        </div>*@
                        
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromDate, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.FromDate, new { @id = "fdate", @class = "form-control calendarControl", autocomplete = "off"})
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ToDate, new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.ToDate, new { @id = "tdate", @class = "form-control calendarControl", autocomplete = "off"})
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <input type="submit" value="Create" class="btn btn-success" />
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script type="text/javascript">
    $('#dayPeriod').hide();
    $('#Monthly').change(function () {
        var value = $('#Monthly').val();
        if (value === "1") {
            $('#dayPeriod').hide();
            //console.log();
        }
        else {
            $('#dayPeriod').show();
        }
    });
    </script>*@
}