﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "ManageSalary";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Manage
        <small>Employee Salary</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Manage Salary</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="dialog-edit" style="display: none"></div>
            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Employee Salary Information</h3>
                </div>
                <div class="panel-body">
                    <div class="box-body table-responsive">
                        <div style="padding-bottom:5px;">
                            <a href="CreateSalary" id="lnkCreate" class="btn btn-primary">Create Salary</a>
                        </div>
                        <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                            <thead>
                                <tr>
                                    <th>
                                        CardNO
                                    </th>
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Section
                                    </th>
                                    <th>
                                        Designation
                                    </th>
                                    <th>
                                        Basic
                                    </th>
                                    <th>
                                        House
                                    </th>
                                    <th>
                                        Other
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        OTRate
                                    </th>
                                    <th>
                                        Att.Bonus
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>CardNO</th>
                                    <th>EmployeeName</th>
                                    <th>Section</th>
                                    <th>Designation</th>
                                    <th>Basic</th>
                                    <th>House</th>
                                    <th>Other</th>
                                    <th>Total</th>
                                    <th>OTRate</th>
                                    <th>Att.Bonus</th>
                                    <th>.</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.PayrollDataList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Section)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Designation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BasicPay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HousePay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OtherPay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalPay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OTRate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AttendenceBonuses)
                                        </td>
                                        <td>
                                            @Html.ActionLink(".", "UpdateSalary", new { id = item.EmployeeID }, new { title = "Update with Increment", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                            @if (item.BasicAmount <= 0)
                                            {
                                                @Html.ActionLink(".", "DeleteSalary", new { Id = item.EmployeeID }, new { title = "Delete", @class = "glyphicon glyphicon-trash" })
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
        $(document).ready(function () {

            var url = "";

            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#lnkCreate").click(function(e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Manage Salary : Create Employee Salary  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                //$("#LoadingBar").show();

                return false;
            });

            $(".lnkEdit").click(function(e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Manage Salary : Update Employee Salary  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                //$("#LoadingBar").show();

                return false;
            });

            $(".btncancel").click(function(e) {
                $("#dialog-edit").dialog("close");
                return false;
            });
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        });
        </script>
    }

