﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "Staff Manage Bill";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Assigned
        <small>Staff Night & Holiday Bill</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Staff Night & Holiday Bill</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="dialog-edit" style="display: none">
            </div>
            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Employee Night and Holiday Bill Information</b></h3>
                </div>
                <div class="panel-body">
                    <div class="box-body table-responsive">
                        @*<div style="padding-bottom:5px;">
                            <a href="CreateBill" id="lnkCreate" class="btn btn-primary">Assign Night Bill</a>
                        </div>*@
                        <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                            <thead>
                                <tr>
                                    <th>
                                        CardNO
                                    </th>
                                    <th>
                                        EmployeeName
                                    </th>
                                    <th>
                                        Section
                                    </th>
                                    <th>
                                        Designation
                                    </th>
                                    <th>
                                        BasicPay
                                    </th>
                                    <th>
                                        GrossPay
                                    </th>
                                    <th>
                                        NightRate
                                    </th>
                                    <th>
                                        HolidayRate
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListNightAndHolyDayBill)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CardNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Section)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Designation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BasicAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GrossAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NRate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HDRate)
                                        </td>
                                        <td>
                                            @Html.ActionLink(".", "UpdateBill", new { id = item.EmployeeID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            var url = "";

            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#lnkCreate").click(function(e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Manage Bill : Create Employee Night & Holiday Bill  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                //$("#LoadingBar").show();

                return false;
            });

            $(".lnkEdit").click(function(e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Manage Bill : Update Employee Night & Holiday Bill  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                //$("#LoadingBar").show();

                return false;
            });

            $(".btncancel").click(function(e) {
                $("#dialog-edit").dialog("close");
                return false;
            });
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        });
    </script>
}