﻿@model Oss.Hrms.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "Previous Payroll";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Previous
        <small>Payroll</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Payroll Details</li>
    </ol>
</section>
<section class="content">
    <div class="register-box">
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading">
                <h3 class="panel-title">Previous Payroll</h3>
            </div>
            <div id="divPanelbody" class="panel-body">
                @using (Html.BeginForm("PreviousPayrollView", "Payroll", FormMethod.Post, new { @target = "_blank" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="control-label"> Select Month</div>
                                @Html.DropDownListFor(model => model.Month, ViewBag.Month as IEnumerable<SelectListItem>,
                            "Please Select Month", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group pull-right">
                            <input type="submit" value="View" class="btn btn-primary" target="_blank" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}