﻿@model Oss.Hrms.Models.ViewModels.Salary.VMSalaryIncrement
@{
    ViewBag.Title = "SalaryIncrement";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Yearly Salary
        <small>Increment</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "EmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Salary Increment</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Yearly Increment by CardTitle Wise</h3>
                    <!-- /.box-tools -->
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("SalaryIncrement", "Payroll", FormMethod.Post))
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.CardTitleId, ViewBag.CardTitleList as IEnumerable<SelectListItem>, "Select a CardTitle", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.CardTitleId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Preview" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("Incremented Salary", "IncrementList", null, new { @class = "btn btn-danger pull-right", @target = "_blank" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.DataList.Any() && Model.DataList!=null)
    {
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-default border-top border-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Model.Title</h3>
                    </div>
                    @using (Html.BeginForm("CreateIncrementSalary", "Payroll", FormMethod.Post, new { data_server = "true", id = "salaryYearlyIncrement" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="panel-body">
                            <div style="padding-bottom:10px;">
                                <div class="col-md-12">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table id="example1" class="table table-hover table-responsive table-bordered nowrap font-black">
                                    <thead>
                                        <tr>
                                            <th>
                                                CardNO
                                            </th>
                                            <th>
                                                Employee Name
                                            </th>
                                            <th>
                                                Designation
                                            </th>
                                            <th>
                                                JoinDate
                                            </th>
                                            <th>
                                                Basic
                                            </th>
                                            <th>
                                                Gross
                                            </th>
                                            <th>
                                                Rate(%)
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                NewGross
                                            </th>
                                            <th>
                                                ApproveGross
                                            </th>
                                            <th>
                                                EffectDate
                                            </th>
                                            <th>
                                                Section
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    @*<tfoot>
                                            <tr>
                                                <th>CardNO</th>
                                                <th>Employee Name</th>
                                                <th>Designation</th>
                                                <th>JoinDate</th>
                                                <th>Basic</th>
                                                <th>Gross</th>
                                                <th>Rate(%)</th>
                                                <th>Amount</th>
                                                <th>EffectDate</th>
                                                <th>Section</th>
                                            </tr>
                                        </tfoot>*@
                                    <tbody>
                                        @for (int item = 0; item < Model.DataList.Count(); ++item)
                                        {
                                            if (Model.DataList[item].Basic <= 0)
                                            {
                                                <tr class="text-danger">
                                                    <td>
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].EmployeeID)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].EfectDate)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].Basic)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].House)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].IncrementBasic)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].IncrementHouse)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].OTAllow)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].OTRate)
                                                        @Html.EditorFor(modelItem => Model.DataList[item].IsChecked)
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].CardNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].EmployeeName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Designation)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ViewJoinDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Basic)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Gross)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].RateIncrement)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ModifyedIncrement)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].IncrementGross)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.DataList[item].IncrementTotal, new { @id= @Model.DataList[item].EmployeeID })
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ViewEfectDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Section)
                                                    </td>
                                                    <td>
                                                        <a id=btnUpdate_@Model.DataList[item].EmployeeID href="#\" class="glyphicon glyphicon-pencil" onclick="getUpdate('@Model.DataList[item].EmployeeID')"></a>
                                                        <a id=btnCancel_@Model.DataList[item].EmployeeID href="#\" class="glyphicon glyphicon-pencil" onclick="getCancel('@Model.DataList[item].EmployeeID','@Model.DataList[item].ModifyedIncrement')"></a>
                                                        <a id=btnOk_@Model.DataList[item].EmployeeID href="#\" style="display:none;" class="glyphicon glyphicon-remove" onclick="getSave('@Model.DataList[item].EmployeeID')"></a>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].EmployeeID)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].EfectDate)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].Basic)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].House)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].IncrementBasic)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].IncrementHouse)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].OTAllow)
                                                        @Html.HiddenFor(modelItem => Model.DataList[item].OTRate)
                                                        @Html.EditorFor(modelItem => Model.DataList[item].IsChecked)
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].CardNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].EmployeeName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Designation)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ViewJoinDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Basic)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Gross)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].RateIncrement)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].IncrementTotal)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ModifyedIncrement)
                                                    </td>
                                                    <td>
                                                        <span id="spn_@Model.DataList[item].EmployeeID">@Html.DisplayFor(modelItem => Model.DataList[item].IncrementGross)</span>
                                                        @Html.TextBoxFor(modelItem => Model.DataList[item].IncrementGross, new { @id = "txt_" + @Model.DataList[item].EmployeeID, @style = "display:none" })
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].ViewEfectDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataList[item].Section)
                                                    </td>
                                                    <td>
                                                        <a id=btnUpdate_@Model.DataList[item].EmployeeID href="#\" class="glyphicon glyphicon-pencil" onclick="getUpdate('@Model.DataList[item].EmployeeID')"></a>
                                                        <a id=btnOk_@Model.DataList[item].EmployeeID href="#\" style="display:none;" class="glyphicon glyphicon-ok" onclick="getSave('@Model.DataList[item].EmployeeID')"></a>
                                                        <a id=btnCancel_@Model.DataList[item].EmployeeID href="#\" style="display:none;" class="glyphicon glyphicon-remove" onclick="getCancel('@Model.DataList[item].EmployeeID','@Model.DataList[item].ModifyedIncrement')"></a>  
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    }
        
    
   
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    function getUpdate(a)
    {
        $("#txt_" + a).show();
        $("#spn_" + a).hide();
        $("#btnUpdate_" + a).hide();
        $("#btnOk_" + a).show();
        $("#btnCancel_" + a).show();
    }

    function getSave(a) {
        $("#txt_" + a).hide();
        $("#spn_" + a).text($("#txt_" + a).val());
        $("#spn_" + a).show();
        $("#btnUpdate_" + a).show();
        $("#btnOk_" + a).hide();
        $("#btnCancel_" + a).hide();
    }

    function getCancel(a,b) {

        $("#txt_" + a).val(b);
        $("#txt_" + a).hide();
        $("#spn_" + a).text(b);
        $("#spn_" + a).show();
        $("#btnUpdate_" + a).show();
        $("#btnOk_" + a).hide();
        $("#btnCancel_" + a).hide();
    }
</script>
}

