﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        OSS|Hrms
    </title>
    <link rel="shortcut icon" href="~/Content/Images/Client_Images/logo.png">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Assets/Content/OssStyle.css")
    @Styles.Render("~/Assets/bootstrap/css/bootstrapLine.css")
    @Styles.Render("~/Assets/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Assets/plugins/SweetAlert/v1.1.0/dist/sweetalert.css")
    @Styles.Render("~/Assets/dist/css/AdminLTE.min.css")
    @Styles.Render("~/Assets/plugins/datatables/v1.10.12/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Assets/dist/css/skins/_all-skins.min.css")
    @Styles.Render("~/Assets/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/Assets/Content/jquery-ui.css")
    @Styles.Render("~/Assets/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/css/buttons.bootstrap.min.css")
    @Styles.Render("~/Assets/plugins/iCheck/square/blue.css")

    @Styles.Render("~/Assets/plugins/supina/helpers/helpers-all.css")


    @Styles.Render("~/Assets/plugins/select2/select2.css")
    @Styles.Render("~/Assets/plugins/select2/select2-bootstrap-3.css")

    @Styles.Render("~/Assets/bootstrap/css/bootstrap-datetimepicker.min.css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <style type="text/css">
        [data-remote] .form-control-feedback,
        [data-modal-reomte] .form-control-feedback,
        [data-server] .form-control-feedback,
        [data-form-wizard] .form-control-feedback {
            top: 10px;
            right: -25px;
        }

        /* Color of invalid field */
        [data-remote] .has-error .control-label,
        [data-remote] .has-error .help-block,
        [data-remote] .has-error .form-control-feedback,
        [data-modal-remote] .has-error .control-label,
        [data-modal-remote] .has-error .help-block,
        [data-modal-remote] .has-error .form-control-feedback,
        [data-server] .has-error .control-label,
        [data-server] .has-error .help-block,
        [data-server] .has-error .form-control-feedback,
        [data-form-wizard] .has-error .control-label,
        [data-form-wizard] .has-error .help-block,
        [data-form-wizard] .has-error .form-control-feedback {
            color: #FF5757;
            font-size: 12px;
        }

        /* Color of valid field */
        [data-remote] .has-success .control-label,
        [data-remote] .has-success .help-block,
        [data-remote] .has-success .form-control-feedback,
        [data-modal-remote] .has-success .control-label,
        [data-modal-remote] .has-success .help-block,
        [data-modal-remote] .has-success .form-control-feedback,
        [data-server] .has-success .control-label,
        [data-server] .has-success .help-block,
        [data-server] .has-success .form-control-feedback,
        [data-form-wizard] .has-success .control-label,
        [data-form-wizard] .has-success .help-block,
        [data-form-wizard] .has-success .form-control-feedback {
            color: #9CD159;
            font-size: 12px;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("index", "EmployeeRecord")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>HRMS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>HRMS</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navig ation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Assets/Images/ClientImages/user2-160x160.jpg" class="user-image" alt="User Image" />
                                @*<img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                @{
                                    Oss.Hrms.Models.Services.CurrentUser u = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
                                    if (u != null)
                                    {
                                        if (MvcApplication.IsReleased)
                                        {

                                            if (Session["User"] == null)
                                            {
                                                Response.Redirect("~/Home");
                                            }

                                            string greeting = DateTime.Now.TimeOfDay.ToString();
                                            greeting = greeting.Substring(0, 2);
                                            int greet = 0;
                                            int.TryParse(greeting, out greet);
                                            if (greet >= 0 && greet < 12)
                                            {
                                                greeting = "Good Morning. ";
                                            }
                                            else if (greet >= 12 && greet < 18)
                                            {
                                                greeting = "Good Afternoon. ";
                                            }
                                            else
                                            {
                                                greeting = "Good Evening. ";
                                            }
                                            <span class="hidden-xs">@greeting! @u.UserName.ToUpper()</span>
                                        }
                                        else
                                        {
                                            <span class="hidden-xs">Hi! @u.UserName.ToUpper()</span>
                                        }
                                    }
                                    else
                                    {
                                        Response.Redirect("~/Home/Login");
                                    }

                                }
                            </a>
                            <ul style="border:1px solid #3c8dbc" class="dropdown-menu">
                                <!-- User image -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @*<a href="~/user/commonprofile" class="btn btn-success btn-flat">Profile</a>*@
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Home/SignOut" class="btn btn-success btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                @*<div class="navbar-custom-menu">
                        <ul class="nav navbar-nav"></ul>
                    </div>*@
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <ul class="sidebar-menu" data-widget="tree">
                    @{
                        Oss.Hrms.Models.Services.CurrentUser user3 = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
                        if (u != null)
                        {
                            if (user3.ID == 2)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Attendance</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("index", "Connect")"><i class="fa fa-circle-o"></i>Attendance Download </a></li>
                                        <li><a href="@Url.Action("ViewEmployeeAttendance", "Attendance")"><i class="fa fa-circle-o"></i>Daily Attendance </a></li>
                                        <li><a href="@Url.Action("ViewAttendanceRecord", "Attendance")"><i class="fa fa-circle-o"></i>Attendance Record </a></li>
                                        <li><a href="@Url.Action("ViewSpecificEmployeeAttendanceRecord", "Attendance")"><i class="fa fa-circle-o"></i>Employee Wise Attendance Record</a></li>
                                        <li><a href="@Url.Action("SingleEmployeeAttendanceProcess", "Attendance")"><i class="fa fa-circle-o"></i>Employee Wise Attendance Process</a></li>
                                        @*<li><a href="@Url.Action("EmployeeAttendanceShifing", "Attendance")"><i class="fa fa-circle-o"></i>Attendance Shifting </a></li>*@

                                        @*<li><a href="@Url.Action("EmployeeAttendanceProcess", "Attendance")"><i class="fa fa-circle-o"></i>Attendance Process </a></li>*@
                                        @*<li><a href="@Url.Action("IndexEmployees", "Attendance")"><i class="fa fa-circle-o"></i>Monthly Attendance </a></li>*@
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Attendance</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("index", "Connect")"><i class="fa fa-circle-o"></i>Attendance Download </a></li>
                                        <li><a href="@Url.Action("ViewEmployeeAttendance", "Attendance")"><i class="fa fa-circle-o"></i>Daily Attendance </a></li>
                                        <li><a href="@Url.Action("ViewAttendanceRecord", "Attendance")"><i class="fa fa-circle-o"></i>Attendance Record </a></li>
                                        <li><a href="@Url.Action("ViewSpecificEmployeeAttendanceRecord", "Attendance")"><i class="fa fa-circle-o"></i>Employee Wise Attendance Record</a></li>
                                        <li><a href="@Url.Action("SingleEmployeeAttendanceProcess", "Attendance")"><i class="fa fa-circle-o"></i>Employee Wise Attendance Process</a></li>
                                        <li><a href="@Url.Action("EmployeeAttendanceShifing", "Attendance")"><i class="fa fa-circle-o"></i>Attendance Shifting </a></li>
                                        <li><a href="@Url.Action("AttendanceProcessManuallyByDate", "Attendance")"><i class="fa fa-circle-o"></i>Daily Attendance Manually</a></li>
                                        <li><a href="@Url.Action("AttendanceProcessHistoryManuallyByDate", "Attendance")"><i class="fa fa-circle-o"></i>Attendance History Manually</a></li>

                                        @*<li><a href="@Url.Action("EmployeeAttendanceProcess", "Attendance")"><i class="fa fa-circle-o"></i>Attendance Process </a></li>*@
                                        @*<li><a href="@Url.Action("IndexEmployees", "Attendance")"><i class="fa fa-circle-o"></i>Monthly Attendance </a></li>*@
                                    </ul>
                                </li>
                            }
                        }
                    }

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Shift Management</span> <i class="fa fa-angle-left pull-right"></i>
                            <span class="label label-primary"></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("ViewShiftType", "Attendance")"><i class="fa fa-circle-o"></i> Shift Type </a></li>
                            <li><a href="@Url.Action("EmployeeShiftAssign", "Attendance")"><i class="fa fa-circle-o"></i>Employee Shift Assign </a></li>
                            <li><a href="@Url.Action("ViewShiftAssign", "Attendance")"><i class="fa fa-circle-o"></i>View Assign Shift</a></li>
                            <li><a href="@Url.Action("ViewNotShiftAssignInfo", "Attendance")"><i class="fa fa-circle-o"></i>Not Shift Assign Employee List</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Leave Setting</span> <i class="fa fa-angle-left pull-right"></i>
                            <span class="label label-primary"></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("EmployeeLeaveAssign", "Leave")"><i class="fa fa-circle-o"></i>Employee Leave Assign</a></li>
                            <li><a href="@Url.Action("ViewEmployeeLeaveAssignInfo", "Leave")"><i class="fa fa-circle-o"></i>Leave Assign Information</a></li>
                            <li><a href="@Url.Action("IndexEmployeeOffDay", "Leave")"><i class="fa fa-circle-o"></i>Employee Off-Days</a></li>
                            <li><a href="@Url.Action("IndexHoliday", "Leave")"><i class="fa fa-circle-o"></i>Holidays</a></li>
                            <li><a href="@Url.Action("AddPreviousLeaveInformation", "Leave")"><i class="fa fa-circle-o"></i>Previous Leave Data Manage</a></li>
                        </ul>
                    </li>
                    @{
                        Oss.Hrms.Models.Services.CurrentUser user1 = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
                        if (u != null)
                        {
                            if (user1.ID == 2)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Leave</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("AddLeaveApplication", "Leave")"><i class="fa fa-circle-o"></i>Leave Application </a></li>
                                        <li><a href="@Url.Action("ViewLeaveApplicationInfo", "Leave")"><i class="fa fa-circle-o"></i>Leave Information </a></li>
                                        <li><a href="@Url.Action("EarnALeaveCalcuation", "Leave")"><i class="fa fa-circle-o"></i>Specific  Earn Leave Calculation </a></li>
                                        <li><a href="@Url.Action("ViewEarnLeavePaymentAInfo", "Leave")"><i class="fa fa-circle-o"></i>Earn Leave Information </a></li>
                                    </ul>
                                </li>
                            }
                            else /*if (user1.ID == 1)*/
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Leave</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("AddLeaveApplication", "Leave")"><i class="fa fa-circle-o"></i>Leave Application </a></li>
                                        <li><a href="@Url.Action("ViewLeaveApplicationInfo", "Leave")"><i class="fa fa-circle-o"></i>Leave Information </a></li>
                                        <li><a href="@Url.Action("EarnLeaveCalcuation", "Leave")"><i class="fa fa-circle-o"></i>Specific Earn Leave Calculation </a></li>
                                        <li><a href="@Url.Action("SectionWiseEarnLeaveCalcuation", "Leave")"><i class="fa fa-circle-o"></i>Section Wise Earn Leave Calculation </a></li>
                                        <li><a href="@Url.Action("ViewEarnLeavePaymentInfo", "Leave")"><i class="fa fa-circle-o"></i>Earn Leave Information </a></li>
                                        @*<li><a href="@Url.Action("EarnALeaveCalcuation", "Leave")"><i class="fa fa-circle-o"></i>Earn Leave Calculation </a></li>*@
                                        @*<li><a href="@Url.Action("ViewEarnLeavePaymentAInfo", "Leave")"><i class="fa fa-circle-o"></i>Earn Leave Information </a></li>*@
                                    </ul>
                                </li>
                            }

                        }
                    }
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Record</span> <i class="fa fa-angle-left pull-right"></i>
                            <span class="label label-primary"></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AddEmployee", "EmployeeRecord")"><i class="fa fa-circle-o"></i>Add Employee </a></li>
                            <li><a href="@Url.Action("AddTemporaryEmployee", "EmployeeRecord")"><i class="fa fa-circle-o"></i>Add Temporary Employee </a></li>
                            <li><a href="@Url.Action("IndexEmployees", "EmployeeRecord")"><i class="fa fa-circle-o"></i>View Employee </a></li>
                        </ul>
                    </li>
                    @{
                        Oss.Hrms.Models.Services.CurrentUser user = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
                        if (u != null)
                        {
                            if (user.ID == 2)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Payroll</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("ManageASalary", "Payroll")"><i class="fa fa-circle-o"></i>Manage Salary</a></li>
                                        @*<li><a href="@Url.Action("SalaryIncrement", "Payroll")"><i class="fa fa-circle-o"></i>Salary Increment</a></li>*@
                                        <li><a href="@Url.Action("ManageBill", "Payroll")"><i class="fa fa-circle-o"></i>Manage Night & HD Bill</a></li>
                                        <li><a href="@Url.Action("ManageBonus", "Payroll")"><i class="fa fa-circle-o"></i>Manage Bonus</a></li>
                                        <li><a href="@Url.Action("ManageAPayroll", "Payroll")"><i class="fa fa-circle-o"></i>Manage Payroll</a></li>
                                    </ul>
                                </li>
                            }
                            else if (user.ID == 3)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Payroll</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("ManageSalary", "Payroll")"><i class="fa fa-circle-o"></i>Manage Salary</a></li>
                                        <li><a href="@Url.Action("SalaryIncrement", "Payroll")"><i class="fa fa-circle-o"></i>Salary Increment</a></li>
                                        <li><a href="@Url.Action("ManageBill", "Payroll")"><i class="fa fa-circle-o"></i>Manage Night & HD Bill</a></li>
                                        <li><a href="@Url.Action("ManageBonus", "Payroll")"><i class="fa fa-circle-o"></i>Manage Bonus</a></li>
                                        <li><a href="@Url.Action("ManagePayroll", "Payroll")"><i class="fa fa-circle-o"></i>Manage Payroll</a></li>
                                        @*<li><a href="@Url.Action("PreviousPayrollView", "Payroll")"><i class="fa fa-circle-o"></i>Previous Payroll</a></li>*@
                                        @*<li><a href="@Url.Action("PaySlip", "Payroll")"><i class="fa fa-circle-o"></i>Generate PaySlip</a></li>*@
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Payroll</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("ManageSalary", "Payroll")"><i class="fa fa-circle-o"></i>Manage Salary</a></li>
                                        @*<li><a href="@Url.Action("SalaryIncrement", "Payroll")"><i class="fa fa-circle-o"></i>Salary Increment</a></li>*@
                                        <li><a href="@Url.Action("ManageBill", "Payroll")"><i class="fa fa-circle-o"></i>Manage Night & HD Bill</a></li>
                                        <li><a href="@Url.Action("ManageBonus", "Payroll")"><i class="fa fa-circle-o"></i>Manage Bonus</a></li>
                                        <li><a href="@Url.Action("Advance", "Payroll")"><i class="fa fa-circle-o"></i>Advance Payment</a></li>
                                        <li><a href="@Url.Action("ManagePayroll", "Payroll")"><i class="fa fa-circle-o"></i>Manage Payroll</a></li>
                                        @*<li><a href="@Url.Action("PreviousPayrollView", "Payroll")"><i class="fa fa-circle-o"></i>Previous Payroll</a></li>*@
                                        @*<li><a href="@Url.Action("PaySlip", "Payroll")"><i class="fa fa-circle-o"></i>Generate PaySlip</a></li>*@
                                    </ul>
                                </li>
                            }
                        }
                    }
                    @{
                        Oss.Hrms.Models.Services.CurrentUser user4 = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
                        if (user4 != null)
                        {
                            if (user4.ID == 3)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Promotion</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("EmployeeConfirmationList", "EmployeeRecord")"><i class="fa fa-circle-o"></i>Employee Confirmation</a></li>
                                        <li><a href="@Url.Action("PromotionDetails", "Promotion")"><i class="fa fa-circle-o"></i>Employee Promotion</a></li>
                                        <li><a href="@Url.Action("PromotionList", "Promotion")"><i class="fa fa-circle-o"></i>Promotion List</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Promotion</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">

                                        <li><a href="@Url.Action("PromotionDetails", "Promotion")"><i class="fa fa-circle-o"></i>Employee Promotion</a></li>
                                        <li><a href="@Url.Action("PromotionList", "Promotion")"><i class="fa fa-circle-o"></i>Promotion List</a></li>
                                    </ul>
                                </li>
                            }
                        }
                    }

                    <li class="treeview">
                    <li><a href="@Url.Action("IndexEmployeeDetails", "Form")"><i class="fa fa-circle-o"></i>Forms</a></li>
                    @{
                        Oss.Hrms.Models.Services.CurrentUser user2 = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
                        if (u != null)
                        {
                            if (user2.ID == 2)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Service Benefit</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("ServiceBenefitACalcuation", "ServiceBenefit")"><i class="fa fa-circle-o"></i>Service Benefit Calculation</a></li>
                                        <li><a href="@Url.Action("ViewServiceBenefitAInfo", "ServiceBenefit")"><i class="fa fa-circle-o"></i>Service Benefit Information</a></li>
                                    </ul>
                                </li>

                            }
                            else
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Service Benefit</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("ServiceBenefitCalcuation", "ServiceBenefit")"><i class="fa fa-circle-o"></i>Service Benefit Calculation</a></li>
                                        <li><a href="@Url.Action("ViewServiceBenefitInfo", "ServiceBenefit")"><i class="fa fa-circle-o"></i>Service Benefit Information</a></li>

                                    </ul>
                                </li>

                            }
                        }
                    }
                    @{
                        Oss.Hrms.Models.Services.CurrentUser usr = (Oss.Hrms.Models.Services.CurrentUser)Session["User"];
                        if (u != null)
                        {
                            if (usr.ID == 2)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Report</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>

                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("AllReport", "Report")"><i class="fa fa-circle-o"></i>All Report</a></li>
                                        <li><a href="@Url.Action("SelectedEmployeeReport", "Report")"><i class="fa fa-circle-o"></i>Employee Report</a></li>
                                        <li><a href="@Url.Action("PayrollReport", "Report")"><i class="fa fa-circle-o"></i>Payroll Report</a></li>
                                        <li><a href="@Url.Action("StatusReport", "Report")"><i class="fa fa-circle-o"></i>Status Report</a></li>
                                        <li><a href="@Url.Action("GenerateIDCard", "Report")"><i class="fa fa-circle-o"></i>Generate ID Card</a></li>
                                        <li><a href="@Url.Action("LeaveReport", "Report")"><i class="fa fa-circle-o"></i>Leave Report </a></li>
                                        <li><a href="@Url.Action("AttendanceAReport", "Report")"><i class="fa fa-circle-o"></i>Attendance Report </a></li>
                                        <li><a href="@Url.Action("AuditJobCard", "Report")"><i class="fa fa-circle-o"></i>Detail JobCard </a></li>
                                        <li><a href="@Url.Action("ExtraOTSalary", "Report")"><i class="fa fa-circle-o"></i>Extra OT Salary Pay </a></li>

                                        <li><a href="@Url.Action("PeriodicJobCard", "Report")"><i class="fa fa-circle-o"></i>Summary JobCard  </a></li>
                                    </ul>
                                </li>

                            }
                            else
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-files-o"></i><span>Report</span> <i class="fa fa-angle-left pull-right"></i>
                                        <span class="label label-primary"></span>
                                    </a>

                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("AllReport", "Report")"><i class="fa fa-circle-o"></i>All Report</a></li>
                                        <li><a href="@Url.Action("SelectedEmployeeReport", "Report")"><i class="fa fa-circle-o"></i>Employee Report</a></li>
                                        <li><a href="@Url.Action("PayrollReport", "Report")"><i class="fa fa-circle-o"></i>Payroll Report</a></li>
                                        <li><a href="@Url.Action("StatusReport", "Report")"><i class="fa fa-circle-o"></i>Status Report</a></li>
                                        <li><a href="@Url.Action("GenerateIDCard", "Report")"><i class="fa fa-circle-o"></i>Generate ID Card</a></li>
                                        <li><a href="@Url.Action("LeaveReport", "Report")"><i class="fa fa-circle-o"></i>Leave Report </a></li>
                                        <li><a href="@Url.Action("AttendanceReport", "Report")"><i class="fa fa-circle-o"></i>Attendance Report </a></li>
                                        <li><a href="@Url.Action("PeriodicJobCard", "Report")"><i class="fa fa-circle-o"></i>Summary JobCard  </a></li>
                                    </ul>
                                </li>

                            }

                        }

                    }
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i><span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
                            <span class="label label-primary"></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("IndexLine", "Common")"><i class="fa fa-circle-o"></i>Manage Lines </a></li>
                            <li><a href="@Url.Action("ViewBusinessUnitList", "Common")"><i class="fa fa-circle-o"></i>Manage Business Units </a></li>
                            <li><a href="@Url.Action("ViewDesignationList", "Common")"><i class="fa fa-circle-o"></i>Manage Designations </a></li>
                            <li><a href="@Url.Action("ViewUnit", "Common")"><i class="fa fa-circle-o"></i>Manage Units </a></li>
                            <li><a href="@Url.Action("ViewDepartment", "Common")"><i class="fa fa-circle-o"></i>Manage Departments </a></li>
                            <li><a href="@Url.Action("ViewSection", "Common")"><i class="fa fa-circle-o"></i>Manage Section </a></li>
                            <li><a href="@Url.Action("ViewAttendanceRemarks", "Attendance")"><i class="fa fa-circle-o"></i>Manage Attendance Remarks </a></li>
                            <li><a href="@Url.Action("IndexDistrict", "Common")"><i class="fa fa-circle-o"></i>Manage District </a></li>
                            <li><a href="@Url.Action("IndexPoliceStation", "Common")"><i class="fa fa-circle-o"></i>Manage Police Station </a></li>
                            <li><a href="@Url.Action("IndexPostOffice", "Common")"><i class="fa fa-circle-o"></i>Manage Post Office </a></li>
                            <li><a href="@Url.Action("IndexVillage", "Common")"><i class="fa fa-circle-o"></i>Manage Village </a></li>
                        </ul>
                    </li>
                  
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer id="print" class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong> &copy; <a href="http://oss.com.bd">Optimum Solution and Services Ltd</a>.</strong>
        </footer>

        <!-- Control Sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->

    @Scripts.Render("~/Assets/plugins/jQuery/jquery-2.2.3.min.js")
    @Scripts.Render("~/Assets/plugins/jQueryUI/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/Assets/plugins/SweetAlert/v1.1.0/dist/sweetalert.min.js")

    @Scripts.Render("~/Assets/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Assets/plugins/moment/moment.min.js")
    @Scripts.Render("~/Assets/plugins/select2/select2.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/dataTables.bootstrap.min.js")

    @*@Scripts.Render("~/Assets/plugins/datatables/dataTables.buttons.min.js")
        @Scripts.Render("~/Assets/plugins/datatables/buttons.print.min.js")*@
    @Scripts.Render("~/Assets/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/js/buttons.bootstrap.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/js/buttons.html5.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/v1.10.10/JSZip-2.5.0/jszip.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/js/buttons.print.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/v1.10.10/pdfmake-0.1.18/build/pdfmake.min.js")
    @Scripts.Render("~/Assets/plugins/datatables/v1.10.10/pdfmake-0.1.18/build/vfs_fonts.js")



    @Scripts.Render("~/Assets/plugins/slimScroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/Assets/plugins/fastclick/fastclick.js")
    @Scripts.Render("~/Assets/dist/js/app.min.js")
    @Scripts.Render("~/Assets/dist/js/demo.js")
    @Scripts.Render("~/Assets/bootstrap/js/bootstrap-datetimepicker.min.js")

    @Scripts.Render("~/Assets/plugins/datepicker/bootstrap-datepicker.js")
    @Scripts.Render("~/Assets/plugins/chartjs/Chart.min.js")
    @Scripts.Render("~/Assets/plugins/flot/jquery.flot.min.js")
    @Scripts.Render("~/Assets/plugins/flot/jquery.flot.resize.min.js")
    @Scripts.Render("~/Assets/plugins/flot/jquery.flot.pie.min.js")
    @Scripts.Render("~/Assets/plugins/flot/jquery.flot.categories.min.js")
    @Scripts.Render("~/Assets/plugins/iCheck/icheck.min.js")



    @RenderSection("Scripts", required: false)
    @*@Html.Partial("_FlashMessage")*@
    <script type="text/javascript">

        $(document).ready(function () {
            $(".myselect2").select2();
            $("select").on("select2:close", function (e) {
                $(this).valid();
            });


            $('.calendarControl').datepicker({
                autoclose: true,
                format: "yyyy/m/d"
            });

            //$('[data-datetimepicker-startdate]').datepicker({
            //    format: 'YYYY-MM-DD'
            //});


            //$('#ddlPresentStatus').select2().on("select2-selecting", function (e) {
            //    //TODO: step2 loading mathod
            //    //alert('ok go');
            //    if (e.val === "1") {
            //        $('#divEmployeelist').addClass("hide");
            //    }
            //    else if (e.val === "2") {
            //        $('#divEmployeelist').removeClass("hide");
            //    }
            //    else if (e.val === "3") {
            //        $('#divEmployeelist').removeClass("hide");
            //    }
            //    else if (e.val === "4") {
            //        $('#divEmployeelist').removeClass("hide");
            //    }
            //}).on("change", function (e) {


            //    if (e.val !== "0") {
            //        //
            //    }
            //});




            $("[data-input-numeric]").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: Ctrl+C
                    (e.keyCode == 67 && e.ctrlKey === true) ||
                    // Allow: Ctrl+V
                    (e.keyCode == 86 && e.ctrlKey === true) ||
                    // Allow: Ctrl+X
                    (e.keyCode == 88 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    ((e.keyCode == 61 || e.keyCode == 187 || e.keyCode == 107) && e.shiftKey === true) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            var table1 = $('#tablehrms').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        autoPrint: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        autoPrint: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        orientation: 'landscape',
                        autoPrint: true
                    }
                ]
                // buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });



            /*
*  This is used for Data Table declartion.
*/
            $('#table2 tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" style="width:100px" />');
            });

            var table = $('#table2').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape'
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape'
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        orientation: 'landscape',
                        autoPrint: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    }
                ]
                //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']


            });

            //    var emptable = $('#tableAttendance').DataTable({
            //        "order": [],
            //        "language": {
            //            searchPlaceholder: "Search in Attendance....."
            //        },
            //        buttons: [
            //            {
            //                extend: 'copyHtml5',
            //                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
            //                orientation: 'landscape',
            //                autoPrint: true
            //                //exportOptions: {
            //                //    columns: [0, 1, 2, 3, 4, 5]
            //                //}
            //            }
            //    ],
            //    "responsive":true //,
            //});

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change',
                    function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
            });


            var table1 = $('#tableCard').DataTable({
                "bPaginate": false,
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        autoPrint: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        autoPrint: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        orientation: 'landscape',
                        autoPrint: true
                    }
                ]
                // buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });

            //$('#advanceTable tfoot th').each(function () {
            //    var title = $(this).text();
            //    $(this).html('<input type="text" style="width:100px" />');
            //});

            var ATable = $('#advanceTable').DataTable({
                "bPaginate": false,
                sDom: '<"row"<"col-lg-4 col-md-4"B><"col-lg-4 col-md-4"l><"col-lg-4 col-md-4"f>>rtip',
                //sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [{
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape'
                    },{
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape'
                    },{
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        orientation: 'landscape',
                        autoPrint: true
                    }
                ]
                //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });
            ATable.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change',
                    function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
            });
        });

    </script>

</body>
</html>
