﻿<!DOCTYPE html>
<html>
<head>
        @Styles.Render("~/Assets/Content/OssStyle.css")
    @Scripts.Render("~/Assets/plugins/jQuery/jquery.validate.min.js")
    @Scripts.Render("~/Assets/plugins/jQuery/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Assets/plugins/jQuery/jquery.validate.unobtrusive.js")
    @Styles.Render("~/Assets/plugins/select2/select2.min.css")
    @Scripts.Render("~/Assets/plugins/select2/select2.min.js")
    @Styles.Render("~/Assets/plugins/iCheck/square/blue.css")
    @Scripts.Render("~/Assets/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Assets/bootstrap/js/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Assets/plugins/datepicker/bootstrap-datepicker.js")
    @Scripts.Render("~/Assets/plugins/moment/moment.min.js")
    @*@Scripts.Render("~/Assets/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js")*@
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        //$('form').submit(function(){
        //    // On submit disable its submit button
        //    $('input[type=submit]', this).attr('disabled', 'disabled');
        //});
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

        $(document).ready(function () {
            
            $(".SerchingDropDown").select2();

            //$.ui.dialog.prototype._allowInteraction = function (e) {
            //    return true;
            //};


            $('.myselect2').select2();

            $("select").on("select2:close", function (e) {
                $(this).valid();
            });


            //Date picker
            //$('#DOB').datepicker();
            $('[data-datetimepicker-startdate]').datetimepicker({
                //minDate: currentDate,
                format: 'MM-DD-YYYY'
                //format: 'YYYY-MM-DD'
            }).on('dp.change',
                function(ev) {
                    // $('#date-daily').change();
                    var date = ev.date._d;
                    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
                    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
                    var stdate = moment(date).format('MM/DD/YYYY');
                    //$("#hidStartdate").val(stdate);
                    var elemId = $(this).attr('data-startdate-model');
                    $("#" + elemId).val(stdate);
                });

            $('.calendarControl').datepicker({
                autoclose: true,
                format: "yyyy/m/d"
            });

        });

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        $(".btncancel1").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$(".btncancelConfirm").click(function (e) {
        //    $("#dialog-confirm").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-edit3").dialog("close");
        //    return false;
        //})
        //$(".btncancelBtB").click(function (e) {
        //    $("#dialog-editBtB").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-editBtB").dialog("close");
        //    return false;
        //})
        
        //$(".btncancel").click(function (e) {
        //    $("#dialog-Authorize").dialog('close');
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-access-control").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-Password-edit").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-edit-Details").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-active-edit").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-active-edit").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-user-Create").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#Requisition-Item-Create").dialog("close");
        //    return false;
        //})
        
        //$(".btncancelAuthorizePO").click(function (e) {
        //    $("#dialog-Authorize").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-LedgerOne").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-b2bpayment").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-lock").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-lnkAddMPlan").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-lnkDailyOutcome").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-unAuthorize").dialog("close");
        //    return false;
        //})
    </script>
</body>
</html>
