﻿<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Spouse Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Spouse != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>SpouseName</th>
                                <th>SpouseDOB</th>
                                <th>Contact No</th>
                                <th>Blood Group</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Spouse)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.SpouseName</td>
                                    <td>@item.SpouseDOB.ToString("d")</td>
                                    <td>@item.Spouse_Contact_No</td>
                                    <td>@item.Spouse_Blood_Group</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditSpouse", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteSpouse", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
