﻿<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Hobby Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Hobby != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>Hobby Name</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Hobby)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Hobby_Name)</td>
                                    <td>@(item.Remarks)</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditHobby", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteHobby", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
