﻿<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Child Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Child != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>Child Name</th>
                                <th>Blood Group</th>
                                <th>DOB</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Child)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Child_Name </td>
                                    <td>@item.Child_DOB.ToString("d")</td>
                                    <td>@item.Child_Blood_Group</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditChildren", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteChildren", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                                }
                }
            </div>
        </div>
    </div>
</div>
