﻿
<style>
    table tbody {
        display: block;
        max-height: 300px;
        overflow-y: scroll;
    }

    table thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

@using Newtonsoft.Json
@using Oss.Hrms.Models.Entity.HRMS
@using Oss.Hrms.Models.ViewModels.HRMS
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Previous Salary Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">

                @if (ViewBag.SalaryHistory != null)
                {
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <thead>
                            <tr>
                                <th>SL#</th>
                                <th>Salary Grade</th>
                                <th>Payment Mode</th>
                                <th>Bank Name</th>
                                <th>Account No</th>
                                <th style="width: 40%">Eod</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                var i = 0;
                            }

                            @foreach (var item in ((List<HRMS_Salary_History>)ViewBag.SalaryHistory).OrderByDescending(x => x.ID))
                            {
                                var salary = JsonConvert.DeserializeObject<HRMS_Salary>(item.HrmsSalaries);
                                var eod = JsonConvert.DeserializeObject<List<HRMS_EodRecord>>(item.EodRecords);
                                i = i + 1;
                                var vmsalary = new VM_HRMS_Salary();
                                var salarygradename = vmsalary.GetGradeName(Convert.ToInt32(salary.Salary_Grade));
                                <tr>
                                    <td>@i</td>
                                    <td>@(salarygradename)</td>
                                    <td>@(salary.Payment_Mode)</td>
                                    <td>@(salary.Bank_Name)</td>
                                    <td>@(salary.Account_No)</td>
                                    <td style="width: 40%">
                                        @foreach (var eoddata in eod)
                                        {
                                            var refname = vmsalary.GetReferenceName(eoddata.Eod_RefFk);
                                            <p>@refname : @eoddata.ActualAmount</p>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                                }
            </div>
        </div>
    </div>
</div>
