﻿<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Skill Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    //var spouseList = (List<VM_HRMS_Spouse>)ViewBag.Spouse  ;
                    if (ViewBag.Skill != null /*&& spouseList.Any()*/)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>Skill Type</th>
                                <th>Skill Name</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Skill)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Skill_Type)</td>
                                    <td>@(item.Skill_Name)</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditSkill", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteSkill", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
